{% comment %}
Este componente exibe a imagem do usuário, se existir, caso contrário mostra as iniciais geradas.

Aceita parâmetros opcionais:
- size (padrão: 40) -> largura/altura do avatar
- show_initials (bool, default True) -> mostrar iniciais se não houver imagem
- class (string, default '') -> classes CSS extras aplicadas ao avatar
{% endcomment %}

{% with size=size|default:40 %}
  {% if user.personaldata.profile_picture %}
    <img src="/media/{{ user.personaldata.profile_picture  }}"
         alt="Avatar"
         width="{{ size }}"
         height="{{ size }}"
         class="rounded-circle {{ class|default:'' }}">
  {% else %}
    <div class="user-initials {{ class|default:'' }}"
         style="width:{{ size }}px; height:{{ size }}px; font-size:calc({{ size }}px * 0.4); line-height:{{ size }}px; text-transform:uppercase;">
      {{ user.get_full_name|default:user.username|slice:":1" }}{% if user.get_full_name %}{{ user.get_full_name|slice:"1:2" }}{% endif %}
    </div>
  {% endif %}
{% endwith %}
