{% load partials %}
{% load static %}

{% partialdef navigation%}

    <div class="container-fluid d-none d-md-block text-center nav-bar-container p-0 font-cric">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a href="{% url 'home:home' %}" class="m-nav">
              <img class="img-fluid" width="70" height="70" src="{% static 'images/logos/rotacric-subtitle-sem-fundo.png' %}" alt="...">
            </a>
            <form class="d-flex me-5">
              <li class="nav-link">
                <a href="#events" class="page-nav-item nav-link btn-hover-cric px-4 py-2 mx-1">Eventos</a>
              </li>
              <li class="nav-link">
                <a href="#cities" class="page-nav-item nav-link btn-hover-cric px-4 py-2 mx-1">Municípios</a>
              </li>
              <li class="nav-link">
                <a href="#about" class="page-nav-item nav-link btn-hover-cric px-4 py-2 mx-1">Quem Somos?</a>
              </li>
              <li class="nav-link">
                <a href="{% url 'home:devs' %}" class="page-nav-item nav-link btn-hover-cric px-4 py-2 mx-1">Desenvolvedores</a>
              </li>
              <!-- {% if user.is_authenticated %}
              <li class="nav-link">
                <a href="{% url 'users:profile' %}" class="page-nav-item nav-link btn-hover-cric px-4 py-2 mx-1">
                  Perfil</a>
              </li>
              <li class="nav-link">
                <a href="{% url 'users:logout' %}" class="d-flex align-items-center nav-link btn-hover-cric px-4 py-2 mx-1 fw-bolder fw-blue">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="me-1" viewBox="0 0 24 24"><path fill="currentColor" d="m17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5M4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5Z"/></svg>
                  Sair</a>
              </li>

              {% else %}
              <li class="nav-link">
                <a href="{% url 'users:login' %}" class="d-flex align-items-center nav-link btn-hover-cric px-4 py-2 mx-1 fw-bolder fw-blue">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="me-1" viewBox="0 0 24 24"><path fill="currentColor" d="M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5l-5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8v14z"/></svg>
                  Entrar</a>
              </li>
              {% endif %} -->

                {% block 'navigation' %}{% endblock %}
            </form>
          </div>
        </nav>
    </div>

{% endpartialdef navigation %}