.btn-cric {
  background-color: #273273 !important;
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 100ms ease-in-out !important;
  border: 0;
}

.btn-cric:hover {
  background-color: #2B2F4D !important;
  box-shadow: 0 4px 12px rgba(39, 50, 115, 0.3);
}