* {
  font-family: 'Inter', sans-serif !important;
}

html, body {
  background-color: #F1F1F1;
}

.bg-light-light {
  background-color: #F1F1F1;
}

/* ---------- Botões ---------- */
.btn-return {
  padding: 1rem !important;
}

/* ---------- Background Imagem ---------- */
.bg-img {
  background-image: url(../images/top-page/unsplash-img-moutain-bike.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ---------- Cores ---------- */
.text-primary-color {
  color: #273273;
}

/* ---------- Inputs ---------- */
#frm-login input {
  font-size: 1rem;
  border-radius: 50px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

#frm-login input:focus {
  border-color: #273273;
  box-shadow: 0 0 0 0.25rem rgba(39, 50, 115, 0.2);
}

/* ---------- Logo ---------- */
.img-logo {
  height: 8rem;
  width: 8rem;
}

/* ---------- Links ---------- */
a {
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #273273 !important;
  text-decoration: underline !important;
}

/* ---------- Responsividade ---------- */
@media (max-width: 900px) {
  .adjust-register-img {
    background-position: 32% 0% !important;
  }
}

@media (max-width: 767px) {
  #frm-register,
  #frm-login {
    padding-top: 5rem;
  }
  .btn-return {
    margin-bottom: 5rem;
  }
}