<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../templates/static/event/style-certificate.css">
</head>
<body>
    <header>
        <div class="box-title">
            <div class="rotacric">
                <img class="logo-cric" src="../../../templates/static/images/certificate/4.png" alt="">
                <h1>Rota
                    <span>
                        CRIC
                    </span>
                </h1>
            </div>
            <img class="medalha" src="../../../templates/static/images/certificate/medalha.png" alt="">
        </div>
    </header>
    <main>
        <div class="certificado">
            <h1>CERTIFICADO DE PARTICIPAÇÃO</h1>
            <p> O Rota Cicloturística da Região Imperial Carbonífera certifica que</p>
            <h2>NOME COMPLETO</h2>
            <p class="p-2">com CPF <b>1234567890</b> concluiu o evento <b>Nome do evento</b>, realizado
            no data 00/00/0000, com carga horária de XX horas.</p>
            <p class="p-3">Charqueadas, 1 de outubro de 2023</p>
        </div>

    </main>
</body>
</html>