{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
    rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" 
  >

    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""
  ></script>

    <title>Página de eventos</title>
</head>
<body>
    <p>{{ event.description }}</p>

    {% for e in event.routes_data.all %}
      <p>{{ e.departure_location }}</p>
      <p>{{ e.time }}</p>
      <p>{{ e }}</p>
    {% endfor %}

    <p>*************************************</p>

    {% for e in event.points.all %}
      <p>{{ e }}</p>
      <img src="{{e.iconUrl.url}}" alt="" style="width: 70px; height: 70px;">
    {% endfor %} 

    {% for image in event.images.all %}
        <img src=" {{ image.image.url }} " style="width: 300px; height: 300px;">
    {% endfor %}


    <div id="map" style="width: 600px; height: 900px;"></div>

    <h1>Enrollment Form</h1>
    <form id="enrollment-form" method="POST" action="{% url 'events:enrollment' event_id=event.pk %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enroll</button>
    </form>


    <script src="{% static 'js/events/data.js'%}" type="module" async></script>
    <script src="{% static 'js/map/Polyline.encoded.js' %}"></script>
    <script src="{% static 'js/Helpers/verify_form.js' %}"></script>
</body>
</html>