{%extends 'base.html'%}
{% load static %}

{% block 'navigation' %}
{% endblock %}

{%block 'content'%}


<style>
  .form-container {
    position: relative;
    background: url('path_to_your_blurred_image.jpg') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 90;
    flex-direction: column;
  }

  .overlay h2{
    z-index: 91;
  }

  .overlay a {
    z-index: 91;
    pointer-events: auto;
  }

  .btn-container {
    z-index: 91;
  }
  .overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(10px);
    pointer-events: auto; 
  }
</style>

{% if event.banner_image %}
  <div style="background-image: url('/media/{{ event.banner_image }}');" class="bg-image"></div>
{% else %}
  <div class="bg-image"></div>
{% endif %}

<div class="container-fluid text-center">
  <div class="row ">
    <div class="container col-10">
      <h2 class="title-event"  data-aos="fade-up">{{ event.name }}</h2>
      <p class="description-event fs-5 mt-5"  data-aos="fade-up">
        {{ event.description }}
      </p>
    </div>
  </div>
  <div class="container col">
    {% for e in event.routes_data.all %}
    <div class="row mt-5 aos-init aos-animate" data-aos="fade-up">
      <div class="col-12 mb-3 mb-sm-0">
        <div class="card border-card">
          <div class="card-body">
            <h5 class="card-title border-bottom border-dark-subtle topic-color">{{ e }}</h5>
            <p></p>
            <p class="card-text"><small class="text-body-secondary">{{ e.departure_location}}</small></p>
            <p class="card-text"><small class="text-body-secondary">{{ e.concentration }}</small></p>
            <p class="card-text"><small class="text-body-secondary">{{ e.time }}</small></p>
          </div>
        </div>
      </div>
      
    </div>
    {% endfor %}
  </div>

  <!-- Images -->
  <div class="container">

    <div class="swiper mySwiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
      <div class="swiper-wrapper" id="swiper-wrapper-bc68103f7d29e4d42" aria-live="polite" style="cursor: grab; transition-duration: 0ms; transform: translate3d(-843px, 0px, 0px); transition-delay: 0ms;">
        {% for image in event.images.all %}
        <div class="swiper-slide" role="group" aria-label="1 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(150deg) scale(1); z-index: -2;">
          <img src="{{ image.image.url }}">
          <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow" style="opacity: 3; transition-duration: 0ms;"></div>
          <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow" style="opacity: 0; transition-duration: 0ms;"></div>
        </div>
        {% endfor %}
      
      </div>
      <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal">
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>

</div>
  <!-- Mapa de Rotas do Evento -->
<div class="text-center">
    <h2 class="mb-5 fw-bold topic-color" style="margin-top: 5rem;">
        Mapa das Rotas
    </h2>
    <div id="map" class="mt-3" style="height: 25rem;" data-aos="fade-up"> <!-- Mapa --> </div>

    

  <div class="container mt-5">
    <div class="row justify-content-center flex-wrap">
      {% for e in event.routes_data.all %}
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <button data-route="{{ e.route.id_route }}" class="btn btn-outline-dark btnOpacity mt-2 p-3" style="background-color: '{{ e.color }}'; width: 100%; height: 100%;">{{ e }}</button>
        </div>
      {% endfor %}
    </div>
  </div>


{% if event.warnings.all %}
  <div class="container-fluid text-center">
    <div class="row ">
      <!-- Title and Descripiton -->
        <div class="container col-10">
              <div class="text-center">
                <h2 class="mb-5 fw-bold topic-color" data-aos="fade-up" style="margin-top: 5rem;">
                  AVISOS
                </h2>
              </div>
              <div class="row mt-5" data-aos="fade-up">
                  {% for warning in event.warnings.all %}
                  <div class="col-sm-12 mb-3">
                    <div class="card border-card">
                      <div class="card-body">
                        <h5 class="card-title border-bottom border-dark-subtle topic-color">{{ warning.title }}</h5>
                        <p class="card-text"><small class="text-body-secondary">{{ warning.content }}</small></p>
                        <p class="card-text border-top"><small class="text-body-terciary">Postado em: {{ warning.created_date }}</small></p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
              </div>
        </div>
    </div>
  </div>
{% endif %}

<!-- Formulario -->

<div class="container mx-auto mb-5 col-10 align-items-center">
  <h2 class="title-event text-center" id="form-h2">Formulário para Inscrição ao Evento</h2>
  <form class="form-container bg-light px-5 py-5 col mt-5" id="enrollment-form" method="POST" action="{% url 'events:enrollment' event_id=event.id %}" data-aos="fade-up">
    {% if not user.id %}
      <div class="overlay container d-flex justify-content-center align-items-center">
        <h2 class="h2">Faça login para se cadastrar no evento!</h2>
        <a href="#" class="text-center btn-container btn-login">
          <div class="btn btn-dark mt-1">Entrar</div>
        </a>
      </div>
    {% endif %}
    {% csrf_token %}

    <!-- INPUT NAME -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-user"></i></span>  
      <input class="form-control" type="text" name="full_name" placeholder="Nome Completo" maxlength="100" required="" id="id_full_name" value="{{ user.first_name|default_if_none:''  }} {{ user.last_name|default_if_none:''  }}">
    </div>
    <!-- INPUT EMAIL -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-user"></i></span>  
      <input class="form-control" type="text" name="email" placeholder="Email" maxlength="30" required="" id="id_email" value="{{ user.email|default_if_none:''  }}">
    </div>
    <!-- INPUT SOCIAL NETWORK -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-brands fa-instagram"></i></span>
      <input class="form-control" type="text" name="social_network" placeholder="Instagram" maxlength="30" id="id_social_network" value="{{ user.personaldata.social_network|default_if_none:''  }}">
    </div>
    <!-- INPUT DATE OF BIRTH -->
    <div class="input-group mb-3 dp-container">
      <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>   
      <input placeholder="Data de nascimento" required="" class="datepicker form-control" type="text" name="date_of_birth" value="{{ user.personaldata.date_of_birth|date:'d/m/Y'  }}" id="datepicker">
    </div>
    <!-- INPUT RG -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-address-card"></i></span>  
      <input class="form-control" inputmode="numeric" type="text" name="rg" placeholder="RG" maxlength="10" required="" id="id_rg" value="{{ user.personaldata.rg|default_if_none:'' }}" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
    </div>
    
    <!-- SELECT BOND CHOICE -->
    <select class="form-select mb-3" name="bond_choice" required id="id_bond_choice">
      <option value selected disabled>Sobre Você</option>
      {% for bond in bond %}
        <option value="{{ bond.id }}" {% if user.personaldata.bond_choice.id == bond.id %}selected{% endif %}>{{ bond }}</option>
      {% endfor %}
    </select>

  <!-- SELECT HOW KNEW -->
  <select class="form-select mb-3" name="how_knew" required id="id_how_knew">
    <option value selected disabled>Como soube?</option>
    {% for howKnew in howKnew %}
      <option value="{{ howKnew.id }}">{{ howKnew }}</option>
    {% endfor %}
  </select>

  <!-- SELECT ROUTE PATH -->
  <select class="form-select mb-3" name="route_path" id="id_route_path" required>
    <option value selected disabled>Caminho da Rota</option>
    {% for routePath in routePath %}
      <option value="{{ routePath.id }}">{{ routePath }}</option>
    {% endfor %}
  </select>

  <!-- EVENT ID -->
  <input  type="hidden" name="event" value="{{ event.id }}" id="event">

  <!-- USER ID -->
  <input type="hidden" name="user" value="{{ user.id }}" id="user">

  <div class="d-flex align-items-center justify-content-center flex-column">
    <button class="btn btn-dark mt-4" type="submit">Concluir Inscrição</button>
    <button type="button" id="btn-clean" class="btn btn-outline-dark mt-3" style="max-width: 152px; width: 100%;"> Limpar Campos </button>
  </div>
  </form>  
  </div>
</div>

<!-- MESSAGE CARD -->
<div class="container d-flex align-items-center justify-content-center position-fixed start-50 translate-middle message-container " style="top: 93vh">
  {% if messages %}
  <ul class="col-11 col-sm-8 ps-0 adjust-message">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}-message card message"{% endif %}>
    <p class="card-body mb-0 text-center">
      {{ message }}
    </p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<script src="{% static 'js/users/message_fx.js' %}" async></script>
<script src="{% static 'js/events/data.js'%}" type="module" async></script>
<script src="{% static 'js/map/Polyline.encoded.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="{% static 'js/events/slider.js' %}"></script>



<script>
  const loginUrl = "{% url 'users:login' %}";
</script>

<script src="{% static 'js/events/formprotect.js' %}" async></script>

<script type="text/javascript">
  $(function(){
    $('#datepicker').datepicker({
      format: 'dd/mm/yyyy',
      clearButton: true,
      autoclose: true,
      container: '.dp-container',
      endDate: '0d'
    });
  });
</script>

{%endblock%}