{%extends 'base.html'%}
{% load static %}


{%block 'content'%}

<div class="bg-image"></div>

<div class="container-fluid text-center background">

    <!-- Navigation -->
    
    <div class="d-flex align-items-center fixed-top col-lx-9 mx-auto mt-5 nav-bar-rotacric nav-t-5">
        <div class="flex-shrink-0 col-lg-1 logo-rotacric rounded-circle ms-5">
          <img class="img-fluid img-cric" src="{% static 'images/logos/4.png'%}" alt="...">
        </div>
        <div class="flex-grow-1 me-5 ms-3">
            <nav class="navbar navbar-expand-md mb-0 rounded-pill">
                <div class="container text-center">
                            <a class="navbar-brand" href="#"></a>
                            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        <div class="offcanvas offcanvas-end text-center" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RotaCric</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav d-flex justify-content-around text-center flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Municipios</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Eventos
                                      </a>
                                      <ul class="dropdown-menu text-center">
                                        <li><a class="dropdown-item" href="#">Evento 01</a></li>
                                        <li><a class="dropdown-item" href="#">Evento 02</a></li>
                                        <li><a class="dropdown-item" href="#">Evento 03</a></li>
                                        <li><a class="dropdown-item" href="#">Evento 04</a></li>
                                      </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Manual</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Sobre</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row justify-content-center">

    <!-- Title and Descripiton -->

        <div class="container col-10">
            <h2 class="title-event"  data-aos="fade-up">{{ event.name }}</h2>
            <p class="description-event fs-5 mt-5"  data-aos="fade-up">
                {{ event.description }}
            </p>
            {% for e in event.routes_data.all %}
            <p>{{ e.departure_location }}</p>
            <p>{{ e.time }}</p>
            <p>{{ e }}</p>
          {% endfor %}
        </div>
    </div>

    <!-- Images with Modal -->

    <div class="container mt-5">
      <div class="row gx-2 gy-3 content-images">
        {% for image in event.images.all %}
        <div class="img-animation col-lg-4 col-md-3">
            <img src="{{ image.image.url }}" class="rounded img-event" alt="..." data-aos="fade-up">
          
        </div>
        {% endfor %}
      </div>
      
<script>
  
</script>

    </div>
</div>

        <!-- Mapa de Rotas do Evento -->

<div class="text-center">
    <h2 class="mb-5 fw-bold topic-color text-" style="margin-top: 10rem;" data-aos="fade-up">
        Mapa das Rotas
    </h2>
    <div id="map" class="mt-3" style="height: 25rem;" data-aos="fade-up"> <!-- Mapa --> </div>
</div>

        <!-- Formulario -->

<div class="container mx-auto mb-5 col-10 align-items-center">
  <h2 class="title-event text-center"  data-aos="fade-up">Formulário para Inscrição ao Evento</h2>
  <form class="bg-light px-5 py-5 col mt-5" id="enrollment-form" method="POST" action="/eventos/1/enrollment/" data-aos="fade-up">
    {% csrf_token %}
    <!-- INPUT NAME -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-user"></i></span>  
      <input class="form-control" type="text" name="full_name" placeholder="Nome Completo" maxlength="100" required="" id="id_full_name" value="{{ form.full_name.value|default_if_none:''  }}">
    </div>
    <!-- INPUT EMAIL -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-user"></i></span>  
      <input class="form-control" type="text" name="email" placeholder="Email" maxlength="30" required="" id="id_email" value="{{ form.email.value|default_if_none:''  }}">
    </div>
    <!-- INPUT SOCIAL NETWORK -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-brands fa-instagram"></i></span>
      <input class="form-control" type="text" name="social_network" placeholder="Instagram" maxlength="30" id="id_social_network" value="{{ form.social_network.value|default_if_none:''  }}">
    </div>
    <!-- INPUT DATE OF BIRTH -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>   
      <input class="form-control" type="text" name="date_of_birth" placeholder="Data de Nascimento" required="" id="id_date_of_birth" value="{{ form.date_of_birth.value|default_if_none:''  }}">
    </div>

   <!-- SELECT BOND CHOICE -->
  <select class="form-select mb-3" name="bond_choice" required id="id_bond_choice">
    <option value selected disabled>Sobre Você</option>
    {% for bond in bond %}
      <option value="{{ bond.id }}">{{ bond }}</option>
    {% endfor %}
  </select>

  <!-- SELECT BOND CHOICE -->
  {% comment %} <select class="form-select mb-3" name="bond_choice" required id="id_bond_choice">
    <option value="" {% if not form.bond_choice.value %}selected{% endif %} disabled>Sobre Você</option>
    {% for bond in bond %}
      <option value="{{ bond.id }}" {% if form.bond_choice.value == bond.id %}selected{% endif %}>{{ bond }}</option>
    {% endfor %}
  </select> {% endcomment %}

  <!-- SELECT HOW KNEW -->
  <select class="form-select mb-3" name="how_knew" required id="id_how_knew">
    <option value selected disabled>Como soube?</option>
    {% for howKnew in howKnew %}
      <option value="{{ howKnew.id }}">{{ howKnew }}</option>
    {% endfor %}
  </select>

  <!-- SELECT ROUTE PATH -->
  <select class="form-select mb-3" name="route_path" id="id_route_path" required>
    <option value selected disabled>Caminho da Rota</option>
    {% for routePath in routePath %}
      <option value="{{ routePath.id }}">{{ routePath }}</option>
    {% endfor %}
  </select>

    <!-- INPUT RG -->
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="fa-solid fa-address-card"></i></span>  
      <input class="form-control" type="text" name="rg" placeholder="RG" maxlength="10" required="" id="id_rg" value="{{ form.rg.value|default_if_none:'' }}">
    </div>
<div class="text-center">
  <button class="btn btn-dark mt-5" type="submit">Concluir Inscrição</button>

</div>
{% if form.is_bound and form.errors %}
  <!-- Display form errors -->
  <ul>
    {% for field in form %}
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

</form>

  
    <!-- <div class="container mx-auto mb-5 col-10 align-items-center">
        <h2 class="title-event text-center"  data-aos="fade-up">Formulário para Inscrição ao Evento</h2>
        <form class="bg-light px-5 py-5 col mt-5" id="enrollment-form" method="POST" action="{% url 'events:enrollment' event_id=event.pk %}" data-aos="fade-up">
            {% csrf_token %}
            <div class="input-group mb-3"> -->
                <!-- Name -->
                <!-- <span class="input-group-text"><i class="fa-solid fa-user"></i></span>                  
                <input type="text" id="full_name" required name="full_name" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1">
            </div> -->

            <!-- <div class="input-group mb-3"> -->
                <!-- Email -->
                <!-- <span class="input-group-text"><i class="fa-solid fa-user"></i></span>                  
                <input type="text" id="email" required name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div> -->

            <!-- <div class="input-group mb-3"> -->
                <!-- RG -->
                <!-- <span class="input-group-text"><i class="fa-solid fa-address-card"></i></span>                  
                <input type="text" id="id_rg" required name="rg" maxlength="10" class="form-control" placeholder="Registro Geral" aria-label="RG">
            </div>
            <div class="input-group mb-3"> -->
                <!-- Date born -->
                <!-- <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>                  
                <input type="date" id="date_of_birth" required name="date_of_birth" class="form-control" placeholder="Data de Nascimento" aria-label="Data de nascimento">            
            </div>
            <div class="input-group mb-3"> -->
                <!-- Instagram -->
                <!-- <span class="input-group-text"><i class="fa-brands fa-instagram"></i></span>                  
                <input type="text" id="social_network" required name="social_network" class="form-control" placeholder="@instagram" aria-label="social_network">
            </div> -->
                <!-- Bond Choice -->
            <!-- <select class="form-select mb-3" aria-label="Default select example" placeholder="Sobre você" name="bond_choice">
                <option>------------</option>
                {% for bond in bond %}
                <option value="{{ bond.id }}">{{ bond.name }}</option>
                {% endfor %}
            </select> -->
                <!-- Routes -->
                
            <!-- <select class="form-select mb-3" aria-label="Default select example" name="route_path" id="id_route_path">
                <option  selected>------------</option>
                {% for routePath in routePath %}
                <option value="{{ routePath.id }}">{{ routePath.name }}</option>
                {% endfor %}
            </select> -->
                <!-- How Knew? -->
            <!-- <select class="form-select mb-3" aria-label="Default select example" name="how_knew">
                <option>--------------</option>
                {% for howKnew in howKnew %}
                <option value="{{ howKnew.id }}">{{ howKnew.name }}</option>
                {% endfor %}
            </select> -->
            
            <!-- <button type="submit" class="btn btn-dark mt-5">Enviar</button> -->
              
        <!-- </form> -->
    </div>
</div>

<!-- FOOTER -->

<div class="footer-desktop">
    <div class="box01 box">
      <div class="content lineBox01">
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vitae
          sequi similique consequuntur repellendus? Dolorem iste earum
          necessitatibus hic exercitationem illo nihil suscipit error
          voluptatum.</span
        >
      </div>
    </div>
    <div class="box02 box"> 
      <div class="content">
        <img src="{% static 'images/footer/logo.png'%}" alt="" />
      </div>
    </div>
    <div class="box03 box">
      <div class="content lineBox03">
        <ul>
          <li>
            <a href="#">
              <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M21 11H19C18.6056 10.9983 18.2147 11.0748 17.85 11.225C17.4853 11.3752 17.1539 11.5961 16.875 11.875C16.5961 12.1539 16.3752 12.4853 16.225 12.85C16.0748 13.2147 15.9983 13.6056 16 14V28"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 18H20"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            </a>
          </li>

          <li>
            <a href="#">
              <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21Z"
                stroke="white"
                stroke-width="2"
                stroke-miterlimit="10"
              />
              <path
                d="M21.5 4.5H10.5C7.18629 4.5 4.5 7.18629 4.5 10.5V21.5C4.5 24.8137 7.18629 27.5 10.5 27.5H21.5C24.8137 27.5 27.5 24.8137 27.5 21.5V10.5C27.5 7.18629 24.8137 4.5 21.5 4.5Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22.5 11C23.3284 11 24 10.3284 24 9.5C24 8.67157 23.3284 8 22.5 8C21.6716 8 21 8.67157 21 9.5C21 10.3284 21.6716 11 22.5 11Z"
                fill="white"
              />
            </svg>
            </a>
          </li>

          <li>
            <a href="#">
              <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 7H28V24C28 24.2652 27.8946 24.5196 27.7071 24.7071C27.5196 24.8946 27.2652 25 27 25H5C4.73478 25 4.48043 24.8946 4.29289 24.7071C4.10536 24.5196 4 24.2652 4 24V7Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M28 7L16 18L4 7"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


<script>
    var navBar = document.querySelector(".nav-bar-rotacric");
    // var logoNavbar = document.querySelector(".logo-rotacric");

    window.addEventListener("scroll", function(){
        if(window.pageYOffset > 150){
            navBar.classList.add("nav-scroll-rotacric");
            navBar.classList.remove("mt-5", "col-lx-9", "nav-t-5");
            // logoNavbar.classList.remove("col-2", "col-lg-1");
            // logoNavbar.classList.add("col-3", "col-sm-1");
        }else{
            navBar.classList.remove("nav-scroll-rotacric");
            // logoNavbar.classList.remove("col-2", "col-sm-1");
            navBar.classList.add("mt-5", "col-lx-9", "nav-t-5");
            // logoNavbar.classList.add("col-3", "col-lg-1");

        }
    });

</script>

<script src="{% static 'js/events/data.js'%}" type="module" async></script>
<script src="{% static 'js/map/Polyline.encoded.js' %}"></script>
<script src="{% static 'js/Helpers/verify_form.js' %}"></script>

{%endblock%}