{% extends 'base/base.html' %}
{% load static %}

{% block 'navigation' %}
{% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'style/style-devs.css' %}">
{% endblock %}

{% block 'content' %}
    <div class="container pb-5" id="main-content-devs">
        <h1 class="text-center"><span class="badge main-title-devs">Equipe de Desenvolvimento</span></h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% include "devs/dev_card.html" with name="Mateus Peres" role="Front-End & UI Dev" image_url="images/devs/img/mateus.png" linkedin="https://www.linkedin.com/in/mateuspereslopes/" instagram="https://www.instagram.com/yperessx/" github="https://github.com/mateussperess" %}

            {% include "devs/dev_card.html" with name="Jeremias Piontkoski" role="Back-End Dev & PMO" image_url="images/devs/img/jeremias.png" linkedin="https://www.linkedin.com/in/jeremias-piontkoski-740a8a267/" instagram="https://www.instagram.com/jeremias_piontkoski/" github="https://github.com/JeremiasPiontkoski" %}

            {% include "devs/dev_card.html" with name="Vanius Zapalowski" role="Orientador" image_url="images/devs/img/vanius.png" linkedin="https://www.linkedin.com/in/vzapalowski/" facebook="https://www.facebook.com/vzapalowski" github="https://github.com/vzapalowski" %}

            {% include "devs/dev_card.html" with name="André del Mestre" role="Professor Adjunto" image_url="images/devs/img/del-mestre2.png" linkedin="https://www.linkedin.com/in/andr%C3%A9-lu%C3%ADs-del-mestre-martins-421b43a1/" instagram="https://www.instagram.com/andredelmestre/" github="https://github.com/andredelmestre" %}

            {% include "devs/dev_card.html" with name="Rodrigo Baptista" role="Apoiador do Projeto" image_url="images/devs/img/rodrigo-baptista.png" website="https://www.ulbra.br/sao-jeronimo" instagram="https://www.instagram.com/ulbra.saojeronimo" facebook="https://www.facebook.com/ulbrasaojeronimo" %}

        </div>

        <h1 class="text-center"><span class="badge main-title-devs">Integrantes Antigos</span></h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% include "devs/dev_card.html" with name="Pedro Rodrigues" role="Front-End Dev" image_url="images/devs/img/pedro.png" linkedin="https://www.linkedin.com/in/pedro-rodrigues-da-cunha-523137252/" instagram="https://www.instagram.com/roddriguespedro/" github="https://github.com/rodriguespedro22" %}

            {% include "devs/dev_card.html" with name="Regis Brasil" role="Front-End Dev" image_url="images/devs/img/regis.png" linkedin="https://www.linkedin.com/in/regis-brasil/" instagram="https://www.instagram.com/regiswolfs/" github="https://github.com/regisbrasil" %}

            {% include "devs/dev_card.html" with name="Marcelo Augusto" role="Back-End Dev" image_url="images/devs/img/marcelo2.png" linkedin="https://www.linkedin.com/in/marcelo-augusto-costa-oliveira-384610245?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" instagram="https://www.instagram.com/marcelo_a504/" github="https://github.com/Marcelo-Augustto" %}

            {% include "devs/dev_card.html" with name="Pedro Ambrosini" role="Front-End Dev" image_url="images/devs/img/pedro-ambrosini.png" linkedin="https://www.linkedin.com/in/pedro-ambrosini" instagram="https://www.instagram.com/pedro_ambrosini/" github="https://github.com/roxxedo" %}

            {% include "devs/dev_card.html" with name="Gabriel Umann" role="Front-End Dev" image_url="images/devs/img/gabriel.png" linkedin="https://www.linkedin.com/in/gabriel-umann-machado-7406582b7?trk=blended-typeahead" instagram="https://www.instagram.com/umann.g/" github="https://github.com/gabrielumann" %}
        
        </div>
    </div>
{% endblock %}