{%extends 'base.html'%}
{% load static %}

{% block 'navigation' %}
{% endblock %}

{%block 'content'%}

<style>
  .banner-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>

<div class="bg-image-h" data-aos="fade-up"></div>
    <h2 class="mt-5 mb-5 fw-bold topic-color text-center">Mapa das Rotas</h2>
    <div id="map" class="mt-3 border border-dark border-start-0 border-end-0 border-1" style="height: 30rem;"> <!-- Mapa --> </div>
</div>

<div class="container-fluid text-center mt-5 mb-5">
  
  <!-- {% comment %} INFO POINTS {% endcomment %} -->
  <div class="container mt-5">
    <div class="row justify-content-center flex-wrap">
      <button class="btn btn-outline-dark btnOpacity mt-2 p-3 w-25 btn-view-points btn-secondary-cric " style="height: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Visualizar Pontos do Mapa
      </button>
      </div>
    </div>
    <div class="collapse mt-2 " id="collapseExample">
      <div class="container aling-items-center">
          <div class="row">
            {% for category in categories_points %}
            <div class="col-6 col-sm-4 mt-3 d-flex">
              <img id="Toast" class="img-fluid" src="{{ category.image.url }}" alt="..." style="height: 4rem;" title="Test">
              <h5 class="d-flex justify-content-center align-items-center" style="margin-bottom: 0;">{{ category.name }}</h5>
            </div>
            {% endfor %}
        </div>
    </div> 
  </div>

  <!-- {% comment %} Municipios {% endcomment %} -->
  <div class="container mt-5">
    <h2 class="mb-5 fw-bold topic-color" id="cities" style="margin-top: 3.4rem;">Municipios da Região Carbonífera</h2>
    <div class="row g-2 banner-container">
      
      {% for city in homes %}
        {% if city.city.active %}
          <a href="{% url 'cities:city_detail' pk=city.city.id %}" class="cities-container d-flex col-xl col-sm-12 h-banner align-items-center justify-content-center nav-link py-3" style="
            background-image: url('{{ city.city.banner_image.url }}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;">
          {% else %}
            <a class="cities-container d-flex col-xl col-sm-12 h-banner align-items-center justify-content-center nav-link py-3" type="button" style="
            background-image: url('{{ city.city.banner_image.url }}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            " data-bs-toggle="modal" data-bs-target="#emBreve" >
          {% endif %}
            <!-- Responsividade para Desktop -->
            <div class="banner-item-container">
              <img class="d-none d-xl-block" src="{% static 'cities/icons/cycling.svg' %}" alt="">
              <div class="middle-content">
                {% for letter in city.city.name %}
                  <span class="d-none d-xl-block city-name-banner">{{ letter }}</span>
                {% endfor %}
              </div>
              <img class="d-none d-xl-block" src="{% static 'cities/icons/plus.svg' %}" alt="">
              <!-- Responsividade para Mobile -->
              <div class="d-flex justify-content-between align-items-center" >
                <div class="d-inline d-xl-none b-item-mobie">
                  <img src="{% static 'cities/icons/cycling.svg'%}">
                  <span class="city-name-banner">{{ city.city.name }}</span>
                  <img class="" src="{% static 'cities/icons/plus.svg'%}">
                </div>
              </div>
            </div>          
          </a>
      {% endfor %}
      <div class="modal fade" id="emBreve" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Conteúdo Indisponível</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Obrigado pelo seu interesse! Estamos trabalhando arduamente para trazer o conteúdo que você procura. Em breve, estará disponível para você aproveitar. Agradecemos sua paciência e prometemos que valerá a pena esperar. Fique atento para mais atualizações em breve!
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <hr style="margin-top: 5rem;">
  </div>

  <!-- {% comment %} Eventos {% endcomment %} -->
  <div class="container">
    <h2 class="mt-5 mb-5 fw-bold topic-color" id="events">Eventos</h2>
    <!-- Events Cards For Mobile -->
    <div class="d-block d-sm-none">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for event in events %}
        <div class="col">
          <div class="card">
            <div class="card-img-top border border-0 rounded">
              <div class="d-flex bg-card-event object-fit-cover w-100 justify-content-center align-items-center border border-0 rounded-top" 
              style="height: 5rem; filter: brightness(50%);">
              </div>
              <span class="text-white fs-2 position-absolute adjust-positon-event translate-middle mt-3">{{ event.location }}</span>   
            </div>
            <div class="card-body">
              <h5 class="card-title topic-color fw-bolder">{{ event.name }}</h5>
              <div class="col-sm-4 text-start">
                <p class="mt-4 mb-1 fs-6">
                  <span class="fw-bolder">
                  Situação: 
                </span> {{ event.status }}
                </p> 
                <p class="mt-3 mb-1 fs-6">
                  <span class="fw-bolder">
                    Data:
                  </span>
                  {% if event.secondary_date %}
                      {{ event.secondary_date.day }} e
                  {% endif %}
                  {{ event.date }}
                </p>
                <p class="mt-3 mb-3 fs-6">
                  <span class="fw-bolder">
                    Participantes:
                  </span> {{ event.participants }}
                </p> 
              </div>
                <a href="{% url 'events:event' pk=event.id %}" type="button" class="btn btn-outline-dark w-100 mt-3 btn-secondary-cric fs-6">Ir para a página</a>
                <div class="collapse mt-2 " id="collapse{{ event.id }}">
                  <div class="container aling-items-center">
                    <div class="col-sm-4 text-start">
                      <p class="mt-3 mb-1 fs-6">
                        <span class="fw-bolder">
                        Quantidade de Trajetos: 
                      </span> {{ event.number_of_routes }}
                      </p>  
                      
                    </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
        
        {% endfor %}
      </div>
    </div>

    <!-- Events Cards for Desktop-md-resolution-->
    <div class="d-none d-md-block d-lg-none">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for event in events %}
        <div class="col">
          <div class="card">
            <div class="card-img-top border border-0 rounded">
              {% if event.banner_image %}
                <div style="background-image: url('/media/{{ event.banner_image }}'); height: 5rem; filter: brightness(50%);" 
                class="d-flex bg-card-event object-fit-cover w-100 justify-content-center align-items-center border border-0 rounded-top">
                </div>
              {% else %}
                <div style="height: 5rem; filter: brightness(50%);" 
                class="d-flex bg-card-event object-fit-cover w-100 justify-content-center align-items-center border border-0 rounded-top">
                </div>
              {% endif %}
              <span class="text-white fs-2 position-absolute adjust-positon-event translate-middle mt-2" style="top: 9% !important;">{{ event.location }}</span>   
            </div>
            <div class="card-body">
              <h5 class="card-title topic-color fw-bolder">{{ event.name }}</h5>
              <div class="row g-2">
                <div class="col-sm-6 col-md-6 col-lg-6 text-start">
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                    Situação: 
                  </span> {{ event.status }}
                  </p> 
                  <p class="mt-3 mb-1 fs-cric">
                    <span class="fw-bolder">
                      Data:
                    </span>
                    {% if event.secondary_date %}
                      {{ event.secondary_date.day }} e
                    {% endif %}
                    {{ event.date }}
                  </p>       
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-start">    
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                    Quantidade de Trajetos: 
                    </span> {{ event.number_of_routes }}
                  </p>  
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                      Participantes
                    </span> {{ event.participants }}
                  </p>
                </div>
                
                <a href="{% url 'events:event' pk=event.id %}" type="button" class="btn btn-outline-dark w-100 mt-3 btn-secondary-cric fs-6">Ir para a página</a>
            
                <div class="collapse mt-2 " id="collapse{{ event.id }}">
                  
              </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Events Cards for Desktop -->
    <div class="d-none d-sm-block d-md-none d-lg-block">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for event in events %}
        <div class="col">
          <div class="card">
            <div class="card-img-top border border-0 rounded">
              {% if event.banner_image %}
                <div style="background-image: url('/media/{{ event.banner_image }}'); height: 5rem; filter: brightness(50%);" 
                class="d-flex bg-card-event object-fit-cover w-100 justify-content-center align-items-center border border-0 rounded-top">
                </div>
              {% else %}
                <div style="height: 5rem; filter: brightness(50%);" 
                class="d-flex bg-card-event object-fit-cover w-100 justify-content-center align-items-center border border-0 rounded-top">
                </div>
              {% endif %}
              <span class="text-white fs-2 position-absolute adjust-positon-event translate-middle" style="top: 10% !important;">{{ event.location }}</span>   
            </div>
            <div class="card-body">
              <h5 class="card-title topic-color fw-bolder">{{ event.name }}</h5>
              <div class="row g-2">
                <div class="col-sm-6 col-md-6 col-lg-6 text-start mt-3">
                  <!-- <img src="{%static 'images/images-cities/image-rota.jpeg'%}" class="img-fluid object-fit-cover border border-1 border-dark map-event"> -->
                  <div id="event-map-{{ event.id }}" style="height: 100%; width: 100%;">
                    <!-- Mapa do Evento --> 
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-start">
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                    Situação: 
                  </span> {{ event.status }}
                  </p> 
                  <p class="mt-3 mb-1 fs-cric">
                    <span class="fw-bolder">
                      Data:
                    </span> 
                    {% if event.secondary_date %}
                      {{ event.secondary_date.day }} e
                    {% endif %}
                    {{ event.date }}
                  </p>       
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                    Quantidade de Trajetos: 
                    </span> {{ event.number_of_routes }}
                  </p>  
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                      Participantes
                    </span> {{ event.participants }}
                  </p>
                </div>
                <a href="{% url 'events:event' pk=event.id %}" type="button" class="btn btn-outline-dark w-100 mt-3 btn-secondary-cric fs-6">Ir para a página</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- {% for event in events %}
      <div class="col-sm-12 col-lg-12 mt-4">
        <div class="card mb-4 mb-md-0">
          <div class="card-body">  
            <img src="{% static 'images/images-cities/charqueadas.jpg'%}" class="post-user w-100 rounded-top" alt="...">
              <h4 class="mb-2 mt-3 fw-medium p-3 topic-color-light text-white rounded">{{ event.name }}</h4>
              <div class="row mx-2">
                <div class="col-sm-4 text-start">
                  <p class="mt-4 mb-1 fs-5">
                    <span class="fw-bolder">
                      Local onde irá ocorrer: 
                    </span> {{ event.location }}
                  </p>
                  <p class="mt-4 mb-1" style="font-size: 18px;">
                    <span class="fw-bolder">
                      Data:
                    </span> {{ event.date }}
                  </p>   
                </div>
                <div class="col-sm-4 text-start">
                  <p class="mt-4 mb-1" style="font-size: 18px;">
                    <span class="fw-bolder">
                    Quantidade de Trajetos: 
                  </span> {{ event.number_of_routes }}
                  </p>  
                  <p class="mt-4 mb-1" style="font-size: 18px;">
                    <span class="fw-bolder">
                      Quilometragem do Trajeto:
                    </span> None
                  </p>   
                </div>
                <div class="col-sm-4 text-start">
                  <p class="mt-4 mb-1" style="font-size: 18px;">
                    <span class="fw-bolder">
                    Situação: 
                  </span> {{ event.status }}
                  </p>  
                  <p class="mt-4 mb-1" style="font-size: 18px;">
                    <span class="fw-bolder">
                      Participantes:
                    </span> {{ event.participants }}
                  </p>   
                </div>
              </div>
              <a href="{% url 'events:event' pk=event.id %}" type="button" class="btn btn-outline-dark w-100 mt-3 btn-secondary-cric fs-5">Vizualizar Evento</a>
            </div>
          </div>
      </div>
    {% endfor %} -->
  </div>

  <div class="container">
    <hr style="margin-top: 5rem;">
  </div>

  <!-- {% comment %} Manual {% endcomment %} -->
  <div>
    <h2 class="mb-5 fw-bold topic-color" id="manual" style="margin-top: 7rem;">Manual</h2>
    <div class="conteudo">
      <div class="rule1">
        <div class="img-rule1" data-aos="fade-up"></div>
        <div class="divisor" data-aos="fade-down"></div>
        <div class="text-rule1 text-dark" data-aos="fade-up">
          <span>
            Para garantir a prevenção de acidentes e manter o percurso em bom estado, seja consciente e jogue seu lixo nos pontos de apoio ao longo do trajeto. Ao fazer isso, você colabora com o meio ambiente e contribui para a manutenção e limpeza do percurso.
          </span>
        </div>
        <div class="divisor-mobile"></div>
      </div>
    <!-------------------------->
      <div class="rule2">
        <div class="img-rule2" data-aos="fade-up"></div>
        <div class="divisor" data-aos="fade-down"></div>
        <div class="text-rule2 text-dark" data-aos="fade-up">
          <span>
            Sua segurança é uma de nossas principais prioridades enquanto você está rodando e conhecendo a região. Para colaborar, é muito importante que você utilize os equipamentos de segurança necessários, como capacete, luzes de sinalização, lanterna e água.
          </span>
        </div>
        <div class="divisor-mobile"></div>
      </div>
    <!-------------------------->
      <div class="rule3">
        <div class="img-rule3" data-aos="fade-up"></div>
        <div class="divisor" data-aos="fade-down"></div>
        <div class="text-rule3 text-dark" data-aos="fade-up">
          <span>            
            Independentemente de ser da região ou não, ao percorrer a rota, certamente você deseja aproveitar ao máximo, certo? Nesse sentido, tenha consciência de escolher um horário adequado para você e para seus equipamentos de segurança, conforme descrito no informe anterior.
          </span>
        </div>
        <div class="divisor-mobile"></div>
      </div>
    <!-------------------------->
      <div class="rule4">
        <div class="img-rule4" data-aos="fade-up"></div>
        <div class="divisor" data-aos="fade-down"></div>
        <div class="text-rule4 text-dark" data-aos="fade-up">
          <span>
            Antes de visitar a Rota Ciclística da Região Imperial Carbonífera, certifique-se de que as condições climáticas na região estejam favoráveis e adequadas ao seu estilo de pedalada. Além disso, tenha em mente a sua segurança durante o turismo em nossa região.
          </span>
        </div>
      </div>
    </div>  
  </div>

  <!-- {% comment %} Sobre {% endcomment %} -->
  <div>
    <h2 class="mt-5 mb-5 fw-bold topic-color" id="about">Sobre o Projeto</h2>
    <div class="conteudo">
      <div class="rule1">
        <div class="logo-if" data-aos="fade-up"></div>
        <div class="divisor" data-aos="fade-down"></div>
        <div class="text-rule1 text-dark" data-aos="fade-up">
          <span>
            Durante o projeto, o desenvolvimento foi realizado pelo orientador Vanius Zapalowski em colaboração com os alunos do 4º ano do curso técnico em informática do IFSUL - Campus Charqueadas: <i>Jeremias Piontkoski de Abreu, Mateus Peres Lopes, Marcelo Augusto Costa Oliveira, Pedro Rodrigues da Cunha e Regis Bernardo Anhaia Brasil.</i> O diretor <i>Jefferson Wolff</i>, a Professora <i>Ana Paula</i> e o coordenador de extensões do câmpus, <i>André del Mestre</i>, também participaram, auxiliando na coleta de informações necessárias para o projeto e lidando com aspectos burocráticos. O diretor da ULBRA de São Jerônimo, Professor <i>Rodrigo Baptista</i>, também apoiou o projeto desempenhando um papel fundamental para a sua realização.
          </span>
        </div>
        <div class="divisor-mobile"></div>
      </div>
      <!-------------------------->
      <div class="rule2">
        <div class="img-corede" data-aos="fade-up"></div>
        <div class="divisor" data-aos="fade-down"></div>
        <div class="text-rule2 text-dark" data-aos="fade-up">
          <span>
            Todo ano, o Estado do Rio Grande do Sul realiza uma Consulta Popular para direcionar parte dos investimentos e serviços que serão incluídos no orçamento estadual. Em 2021, a opção mais votada pela população da região COREDE Centro-Sul foi a "Promoção dos destinos turísticos e estratégias de marketing para o setor e promoção de feiras regionais". O COREDE Centro-Sul solicitou a colaboração da ASMURC para implementar políticas públicas de fomento ao turismo na região carbonífera. A ASMURC, por sua vez, entrou em contato com o IFSul Campus Charqueadas, reconhecendo-o como uma entidade relevante na estratégia de fomento do cicloturismo. A implementação de um meio de divulgação das rotas de cicloturismo na região carbonífera já é uma demanda concreta discutida pela comunidade em colaboração com o IFSUL Campus Charqueadas.
          </span>
        </div>
        <div class="divisor-mobile"></div>
      </div>
      <!-------------------------->
      <div class="rule3">
        <div class="logo-about" data-aos="fade-up"></div>
        <div class="divisor" data-aos="fade-down"></div>
        <div class="text-rule3 text-dark" data-aos="fade-up">
          <span>
            O projeto Rota Ciclística na Região Imperial Carbonífera (Rota CRIC) tem como principal objetivo divulgar rotas de cicloturismo da região carbonífera. Neste região, existem diversas rotas já utilizadas por ciclistas, tanto para fins recreativos, passando por pontos turísticos e trilhas, quanto para deslocamentos diários, conectando cidades, embora essas rotas não estejam formalmente mapeadas e definidas. A demanda por documentação e formalização dessas rotas tem sido evidenciada por iniciativas na região, como a opção mais votada pela população na consulta popular do COREDE Centro-Sul em 2021, que foi a "Promoção dos destinos turísticos e estratégias de marketing para o setor e promoção de feiras regionais".
          </span>
        </div>
        <div class="divisor-mobile"></div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/home/homefx.js' %}" async></script>
<script src="{% static 'js/home/data.js'%}" type="module" async></script>
<script src="{% static 'js/map/Polyline.encoded.js'%}"></script>
{%endblock%}