{%extends 'base.html'%}
{% load static %}


{%block 'content'%}



<div class="container-fluid px-0 text-center">

    <!-- {% comment %} NAVIGATION {% endcomment %} -->

    <div class="d-flex align-items-center fixed-top col-lx-9 mx-auto mt-5 nav-bar-rotacric nav-t-5">
        <div class="flex-shrink-0 col-lg-1 col-3 logo-rotacric rounded-circle">
          <img class="img-fluid" src="{% static 'images/logos/4.png'%}" alt="...">
        </div>
        <div class="flex-grow-1 me-5">
            <nav class="navbar navbar-expand-lg mb-0 rounded-pill">
                <div class="container-fluid text-center">
                            <a class="navbar-brand" href="#"></a>
                            <button class="navbar-toggler me-3 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        <div class="offcanvas offcanvas-end text-center" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RotaCric</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav d-flex justify-content-around flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Municipios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Eventos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Manual</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Sobre</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- {% comment %} CAROUSEL {% endcomment %} -->

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1590762679320-8a5527feaa04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2094&q=80" class="d-block w-100" alt="..." >
                    <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1590762679320-8a5527feaa04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2094&q=80" class="d-block w-100" alt="..." >
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1590762679320-8a5527feaa04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2094&q=80" class="d-block w-100" alt="..." >
                <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
       
    </div>

        <!-- {% comment %} MAP {% endcomment %} -->

    <h2 class="mt-5 mb-5 fw-bold topic-color">Mapa das Rotas</h2>
    <div class="mt-3 align-items-center" style="height: 50rem;" data-aos="fade-up" id="map">
    </div>

        <!-- {% comment %} INFO POINTS {% endcomment %} -->

    <div class="container text-center mt-5 mb-5">
        <button class="btn btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Ver Detalhes
        </button>
        <div class="collapse mt-2 " id="collapseExample">
            <div class="container aling-items-center">
                <div class="row text-start">
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/drink.svg'%}" alt="..." style="height: 4rem;">
                        Depósito de Bebidas
                    </div>
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/hotel.svg'%}" alt="..." style="height: 4rem;">
                        Hospedagem
                    </div>
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/restaurant.svg'%}" alt="..." style="height: 4rem;">
                        Serviços de Alimentação
                    </div>
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/gas_station.svg'%}" alt="..." style="height: 4rem;">
                        Posto de Gasolina
                    </div>
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/pharmacy.svg'%}" alt="..." style="height: 4rem;">
                        Farmácia
                    </div>
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/shopping.svg'%}" alt="..." style="height: 4rem;">
                        Serviços de Mercados, Lojas, ...
                    </div>
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/hospital.svg'%}" alt="..." style="height: 4rem;">
                        Hospital/Poste de Saúde
                    </div>
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/repair.svg'%}" alt="..." style="height: 4rem;">
                        Serviços de Reparo
                    </div>
                    <div class="col-6 col-sm-4 mt-3">
                        <img class="img-fluid" src="{% static 'iconsMarkers/tourist_spots.svg'%}" alt="..." style="height: 4rem;">
                        Pontos Turísticos</div>
                    </div>
              </div>
        </div>
    </div>


        <!-- {% comment %} Municipios {% endcomment %} -->

    <div class="container text-center mb-5" style="margin-top: 10rem;">
        <h2 class="mt-5 mb-5 fw-bold topic-color">Municipios</h2>
        <div class="mt-3 bg-secondary align-items-center" style="height: 15rem;" data-aos="fade-up">
            <h1>Municipios</h1>
        </div>
    </div>

        <!-- {% comment %} Manual {% endcomment %} -->
    
    <div class="container text-center mb-5 topic-color" style="margin-top: 10rem;">
        <h2 class="mt-5 mb-5 fw-bold">Manual</h2>
        <div class="conteudo">
            <div class="rule1">
              <div class="img-rule1" data-aos="fade-right"></div>
              <div class="divisor" data-aos="fade-down"></div>
              <div class="text-rule1 text-dark" data-aos="fade-left">
                <span>
                  Para garantir não só a prevenção de eventuais acidentes, mas como
                  também manter o percurso em um bom estado de circulação, seja
                  consciente e jogue o seu lixo nos pontos de apoio pontuam o trajeto.
                  Fazendo isso, você colabora com o meio-ambiente e ajuda na
                  manutenção e limpeza do percurso.
                </span>
              </div>
              <div class="divisor-mobile"></div>
            </div>
            <!-------------------------->
            <div class="rule2">
              <div class="img-rule2" data-aos="fade-left"></div>
              <div class="divisor" data-aos="fade-down"></div>
              <div class="text-rule2 text-dark" data-aos="fade-right">
                <span>
                  Sua segurança é uma de nossas principais prioridades enquanto você
                  estiver rodando e conhecendo a região. Para colaborar, é de suma
                  importância que você utilize todos os equipamentos de segurança
                  minimamente necessários enquanto estiver conosco, como: capacete;
                  luzes de sinalização, lanterna e água.
                </span>
              </div>
              <div class="divisor-mobile"></div>
            </div>
            <!-------------------------->
            <div class="rule3">
              <div class="img-rule3" data-aos="fade-right"></div>
              <div class="divisor" data-aos="fade-down"></div>
              <div class="text-rule3 text-dark" data-aos="fade-left">
                <span>
                  Sendo você da região ou não, é claro que ao percorrer a rota você
                  vai querer desfrutar ao máximo, certo? Com isso em mente, tenha
                  consciência de que o horário em que você irá rodar, seja um horário
                  apropriado para você e seus equipamentos de segurança, como
                  descritos no informativo anterior.
                </span>
              </div>
              <div class="divisor-mobile"></div>
            </div>
            <!-------------------------->
            <div class="rule4">
              <div class="img-rule4" data-aos="fade-right"></div>
              <div class="divisor" data-aos="fade-down"></div>
              <div class="text-rule4 text-dark" data-aos="fade-left">
                <span>
                  Antes de ir visitar a Rota Ciclística da Região Imperial
                  Carbonífera, certifique-se de que o clima e o tempo na região
                  estejam favoráveis e adequados para o seu estilo de pedalada. E é
                  claro, tenha em mente a sua segurança durante o turismo em nossa
                  região.
                </span>
              </div>
            </div>
          </div>
    </div>


        <!-- {% comment %} Sobre {% endcomment %} -->

    <div class="container text-center mb-5 topic-color" style="margin-top: 10rem;">
            <h2 class="mt-5 mb-5 fw-bold topic-color">Quem somos nós?</h2>
            <div class="conteudo">
              <div class="rule1">
                <div class="logo-if" data-aos="fade-right"></div>
                <div class="divisor" data-aos="fade-down"></div>
                <div class="text-rule1 text-dark" data-aos="fade-left">
                  <span>
                    O projeto foi desenvolvido através do orientador
                    <a href="vaniuszapalowski@ifsul.edu.br">Vanius Zapalowski</a>, em conjunto com os 
                    alunos do 3º ano do IFSUL - Câmpus Charqueadas, <a href="mateuslopes.ch577@academico.ifsul.edu.br">Mateus Peres Lopes</a>,
                    <a href="jeremiasabreu.ch461@academico.ifsul.edu.br">Jeremias Piontkoski de Abreu</a>, 
                    e <a href="pedrocunha.ch550@academico.ifsul.edu.br"> Pedro Rodrigues da Cunha </a>, 
                    que fizeram o desenvolvimento do sistema através das linguagens que são ensinadas 
                    no curso Técnico Integrado de Informática, fornecido pelo câmpus. Além deles, o projeto
                    contou com a participação do diretor do IFSUL Câmpus Charqueadas, Jefferson Wolff, e da Profº Ana Paula, 
                    que auxiliou os participantes do projeto na parte de filtrar informações a serem 
                    inseridas no site, e também no mapeamento da rota feito por ela, e um dos integrantes 
                    do projeto, promovido pelo diretor da ULBRA de São Jerônimo, o Prof. Rodrigo Baptista, 
                    responsável pelas viagens feitas com a proposta de mapeá-las para serem inseridas no site.
                  </span>
                </div>
                <div class="divisor-mobile"></div>
              </div>
              <!-------------------------->
              <div class="rule2">
                <div class="img-corede" data-aos="fade-left"></div>
                <div class="divisor" data-aos="fade-down"></div>
                <div class="text-rule2 text-dark" data-aos="fade-right">
                  <span>
                    Todo ano, o Estado do RS lança uma Consulta Popular para direcionar parte dos 
            investimentos e serviços que <a href="https://planejamento.rs.gov.br/consulta-popular">constarão no orçamento do Estado</a>
            . No ano de 2021, a opção mais 
            votada pela população inserida no COREDE Centro-sul foi: “Promoção dos destinos 
            turísticos e estratégias de marketing para o setor e promoção de feiras regionais;".
            O COREDE Centro-Sul acionou a ASMURC para implementar as políticas públicas de 
            fomento ao turismo na região carbonífera. A ASMURC então entrou em contato com o 
            IFSul campus Charqueadas como uma entidade relevante na estratégia de fomento do cicloturismo.
            A implementação de um 
            <a href="https://www.portaldenoticias.com.br/noticia/22373/projeto-de cicloturismo-e-apresentado-a-municipios-da-regiao-carbonifera.html"> meio de 
              divulgação das rotas de cicloturismo na região 
              carbonífera já é uma demanda concreta da comunidade </a>
            discutida com o IFSUL Campus Charqueadas.
                  </span>
                </div>
                <div class="divisor-mobile"></div>
              </div>
              <!-------------------------->
              <div class="rule3">
                <div class="logo-about" data-aos="fade-right"></div>
                <div class="divisor" data-aos="fade-down"></div>
                <div class="text-rule3 text-dark" data-aos="fade-left">
                  <span>
                    O projeto Rota Ciclística na Região Imperial Carbonífera (Rota CRIC) consiste em um 
            website para a divulgação das rotas de cicloturismo da região carbonífera e interação
            dos ciclistas que querem frequentar a rota.
            Na região carbonífera existem várias rotas já utilizadas por ciclistas tanto para lazer, 
            que passam por pontos turísticos e trilhas, como para deslocamentos diários, 
            que ligam cidades porém não são formalmente mapeadas e definidas. 
            A demanda por essa documentação e formalização das rotas vem sendo demonstrada através 
            das iniciativas da região. Por exemplo, no ano de 2021, a opção mais 
            votada pela população em consulta popular do Conselho Regional de Desenvolvimento 
            (COREDE) Centro-sul foi: “Promoção dos destinos turísticos e estratégias de marketing 
            para o setor e promoção de feiras regionais". Além disso, a Associação de Municípios da 
            Região Carbonífera (ASMURC) também iniciou um projeto de promoção e incentivo ao cicloturismo na região.
                  </span>
                </div>
                <div class="divisor-mobile"></div>
              </div>
            </div>
      </div>
</div>

<script src="{% static 'js/home/data.js'%}" type="module" async></script>
<script src="{% static 'js/map/Polyline.encoded.js'%}"></script>



<script>
        var navBar = document.querySelector(".nav-bar-rotacric");
    var logoNavbar = document.querySelector(".logo-rotacric");




    window.addEventListener("scroll", function(){
        if(window.pageYOffset > 150){
            navBar.classList.add("nav-scroll-rotacric");
            navBar.classList.remove("mt-5", "col-lx-9", "nav-t-5");
            logoNavbar.classList.remove("col-2", "col-lg-1");
            logoNavbar.classList.add("col-3", "col-sm-1");
        }else{
            navBar.classList.remove("nav-scroll-rotacric");
            logoNavbar.classList.remove("col-2", "col-sm-1");
            navBar.classList.add("mt-5", "col-lx-9", "nav-t-5");
            logoNavbar.classList.add("col-3", "col-lg-1");

        }
    });
</script>


{%endblock%}
