<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Hello {{ name }} {{ last_name }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid hic recusandae assumenda, 
        voluptate fugit totam nulla mollitia quisquam rerum dicta. Consectetur maiores voluptates consequatur perferendis!</p>

    <span><b>Sent from {{ from }}</span>
</body>
</html>