{% autoescape off %}
Olá {{ user.username }},

Você está recebendo este e-mail porque solicitou a redefinição de senha para sua conta de usuário em rota-cric.charqueadas.ifsul.edu.br.

Por favor, vá para a seguinte página e escolha uma nova senha:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Seu nome de usuário, caso tenha esquecido: {{ user.username }}

Obrigado por utilizar nosso site!

Equipe ROTACRIC
{% endautoescape %}
