{% load static %}

<div class="container-fluid d-none d-md-block text-center nav-bar-container p-0 font-cric">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a href="{% url 'home:home' %}" class="m-nav">
        <img class="img-fluid" width="70" height="70" src="{% static 'images/logos/rotacric-subtitle-sem-fundo.png' %}" alt="Logo RotaCric">
      </a>

      <div class="d-flex align-items-center ms-auto">
        <ul class="navbar-nav flex-row me-3">
          <li class="nav-item"><a href="#events" class="nav-link btn-hover-cric px-4 py-2 mx-1">Eventos</a></li>
          <li class="nav-item"><a href="#cities" class="nav-link btn-hover-cric px-4 py-2 mx-1">Municípios</a></li>
          <li class="nav-item"><a href="#about" class="nav-link btn-hover-cric px-4 py-2 mx-1">Quem Somos?</a></li>
          <li class="nav-item"><a href="{% url 'home:devs' %}" class="nav-link btn-hover-cric px-4 py-2 mx-1">Desenvolvedores</a></li>
        </ul>

        <a href="{% url 'users:login' %}" class="btn btn-outline-primary fw-bold d-flex align-items-center ms-3">
          Entrar
        </a>
      </div>
    </div>
  </nav>
</div>
