{% load static %}


      <form class="container-fluid container-sm container-lg-cric bg-light px-3 py-5 mt-5 rounded" id="enrollment-form" method="POST" action="{% url 'events:enrollment3' event_id=event.id %}">
        {% csrf_token %}

          <!-- INPUT NAME -->
          <div class="input-group mb-3">
            <span class="input-group-text bg-light-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: #131A40;" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
            </span>
            <input class="form-control" type="text" name="full_name" placeholder="Nome Completo" maxlength="100" required="" id="id_full_name" value="{{ form.full_name.value|default:'' }}">
        </div>
        <!-- INPUT EMAIL -->
        <div class="input-group mb-3">
            <span class="input-group-text bg-light-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: #131A40;" viewBox="0 0 24 24"><path fill="currentColor" d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5l-8-5V6l8 5l8-5v2z"/></svg>
            </span>
            <input class="form-control" type="text" name="email" placeholder="Email" maxlength="70" required="" id="id_email" value="{% if form.email.value %}{{ form.email.value }}{% elif user %}{{ user.email|default:'' }}{% endif %}">
        </div>
        <!-- INPUT SOCIAL NETWORK -->
        <div class="input-group mb-3">
            <span class="input-group-text bg-light-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: #131A40;" viewBox="0 0 24 24"><path fill="currentColor" d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216a4.61 4.61 0 0 0-2.633-2.633a6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42a4.607 4.607 0 0 0-2.633 2.633a6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632a6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419a4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187c.043-.962.056-1.267.056-3.71c-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078a1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"/><circle cx="11.994" cy="11.979" r="3.003" fill="currentColor"/></svg>
            </span>
            <input class="form-control" type="text" name="social_network" placeholder="Instagram" maxlength="30" id="id_social_network" value="{% if form.social_network.value %}{{ form.social_network.value }}{% elif user %}{{ user.personaldata.social_network|default:'' }}{% endif %}">
        </div>
        <!-- INPUT DATE OF BIRTH -->
        <div class="input-group mb-3 dp-container">
            <span class="input-group-text bg-light-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="color: #131A40;" viewBox="0 0 24 24"><path fill="currentColor" d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM9 14H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2zm-8 4H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2z"/></svg>
            </span>
            <input placeholder="Data de nascimento" required="" class="datepicker form-control" type="text" name="date_of_birth" value="{% if form.date_of_birth.value %}{{ form.date_of_birth.value|default:'' }}{% elif user %}{{ user.personaldata.date_of_birth|default:'' }}{% endif %}" id="datepicker">
        </div>
        <!-- INPUT RG -->
        <div class="input-group mb-3">
            <span class="input-group-text bg-light-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: #131A40;" viewBox="0 0 24 24"><path fill="currentColor" d="M18 11c.7 0 1.37.1 2 .29V10c0-1.1-.9-2-2-2h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h6.26A6.995 6.995 0 0 1 18 11zM8.9 6c0-1.71 1.39-3.1 3.1-3.1s3.1 1.39 3.1 3.1v2H8.9V6z"/><path fill="currentColor" d="M18 13c-2.76 0-5 2.24-5 5s2.24 5 5 5s5-2.24 5-5s-2.24-5-5-5zm0 2c.83 0 1.5.67 1.5 1.5S18.83 18 18 18s-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5zm0 6c-1.03 0-1.94-.52-2.48-1.32c.73-.42 1.57-.68 2.48-.68s1.75.26 2.48.68c-.54.8-1.45 1.32-2.48 1.32z"/></svg>
            </span>
            <input class="form-control" inputmode="numeric" type="text" name="rg" placeholder="RG" maxlength="11" required="" id="id_rg" value="{% if form.rg.value %}{{ form.rg.value }}{% elif user %}{{ user.personaldata.rg|default:'' }}{% endif %}" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
        </div>

        <!-- SELECT BOND CHOICE -->
        <select class="form-select mb-3" name="bond_choice" required id="id_bond_choice">
          <option value selected disabled>Sobre Você</option>
          {% for bond in bond %}
            <option value="{{ bond.id }}" {% if form.bond_choice.value == bond.id %}selected{% endif %}>{{ bond }}</option>
          {% endfor %}
      </select>

      <!-- SELECT HOW KNEW -->
      <select class="form-select mb-3" name="how_knew" required id="id_how_knew">
          <option value selected disabled>Como soube?</option>
          {% for howKnew in howKnew %}
              <option value="{{ howKnew.id }}">{{ howKnew }}</option>
          {% endfor %}
      </select>

      <!-- SELECT ROUTE PATH -->
      <select class="form-select mb-3" name="route_path" id="id_route_path" required>
          <option value selected disabled>Caminho da Rota</option>
          {% for routePath in routePath %}
            {% if routePath.active == True %}
              <option value="{{ routePath.id }}">{{ routePath }}</option>
            {% endif %}
          {% endfor %}
      </select>

      <!-- EVENT ID -->
      <input  type="hidden" name="event" value="{{ event.id }}" id="event">

      <!-- USER ID -->
      <input type="hidden" name="user" value="{{ user.id|default:'1' }}" id="user">

      <div class="d-grid">
        <button id="btn-form" class="btn btn-dark mt-2" type="submit">Concluir Inscrição</button>
      </div>
      </form>
