{%extends 'base.html'%}
{% load static %}

{%block 'content'%}

<div class="bg-image d-flex col justify-content-center align-items-center" style="
 background-color: antiquewhite;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  ">
 <!-- background-image: url('../../media/{{ city.banner_image }}'); -->

<!-- <div class="bg-image d-flex col justify-content-center align-items-center"> -->
  <div class="darker-overlay"></div>
</div>
<!-- {{ city.name }} -->
<div class="container-fluid">
  <div class="title text-center">
    <h2 class="fw-semibold" style="margin-top: 7rem; margin-bottom: 7rem;">Rotas Disponíveis</h2>
  </div>
</div>

<div class="border border-dark border-start-0 border-end-0 border-1 w-100 bg-light-light" style="height: 30rem;"></div>
<!-- Mapa --> 
  <!-- MENU DO MAPA -->
  <!-- <div class="btn-open-menu"></div>
  <div class="map-menu hidden">
    <button class="btn-menu btn-remove-points">Ativar/desativar pontos</button>
    <button class="btn-menu btn-open-route-filter">Filtrar rotas</button>
    <div class="check-boxes-container hidden" id="routeCheckboxes">
    </div>
    <button class="btn-menu btn-open-points-filter">Filtrar pontos de apoio</button>
    <div class="check-boxes-container hidden" id="pointsCheckboxes">
      {% for category in categories_points %}
        <div class="check-box-container">
          <input type="checkbox" class="p-cb-iptn" data-category="{{ category.name }}">
          <span>{{ category.name }}</span>
        </div>  
      {% endfor %}
    </div>
    <button class="btn-menu btn-close-menu">Close</button>
  </div>  -->

<div class="container mt-5 mb-5">
  <div class="row justify-content-center flex-wrap">
    {% for e in city.routes.all %}
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <button data-route="{{ e.id_route }}" class="btn btn-outline-dark btnOpacity mt-2 p-3" style="background-color: '{{ e.color }}'; width: 100%; height: 100%;">{{ e }}</button>
        </div>
    {% endfor %}
  </div>
</div>



<div class="container-fluid mx-0 background-blue px-4 py-4">
  <div class="title text-center">
    <h2 class="mb-5 fw-normal text-white py-5">Conheça nossa cidade</h2>
  </div>
    {% for image, title, text, is_even in images %}
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-12 col-md-5 bg-light-light">
          <div class="bg-image-info-point" style="background-image: url({{image}});">
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="card-body">
              <h3 class="card-title text-center mb-3 py-3">{{title}}</h3>
              <p class="card-text px-4 py-3 text-justify">{{text}}</p>
          </div>
        </div>
      </div>
    </div>
{% endfor %}

  <div class="modal fade" id="emBreve" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Conteúdo Indisponível</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Obrigado pelo seu interesse! Estamos trabalhando arduamente para trazer o conteúdo que você procura. Em breve, estará disponível para você aproveitar. Agradecemos sua paciência e prometemos que valerá a pena esperar. Fique atento para mais atualizações em breve!
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="card mx-auto mt-5 mb-5" style="width: 80vw;">
  <div class="card-body">
    <h5 class="card-title text-center">{{ city.bottom_text_tittle }}</h5>
    <p class="card-text text-center">{{ city.bottom_text }}</p>
  </div>
</div> -->


<script src="{% static 'js/cities/map_menu.js' %}" type="module" async></script>
<script src="{% static 'js/cities/data.js'%}" type="module" async></script>
<!-- <script>
const cardRevert = document.getElementById('cardRevert'); 

  function revert(e) {
    const cardBody = document.getElementById('cardBody'); 
    const cardImage = document.getElementById('cardImage');
    
    if (e.matches) {
      cardRevert.remove();
    }
  }

  const resolution = window.matchMedia("(max-width: 767px)");

  revert(resolution);

  resolution.addListener(revert);
</script> -->



{%endblock%}