
.darker-overlay {
    background-color: black;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 20%;
    z-index: 1;
}

.background-blue{
    background-color: var(--primary-color);
}

@media (max-width: 767px) {
    .even-card {
        margin-top: 1vh;
    }

    .odd-card {
        margin-top: 1vh;
    }

    .card {
        margin: 0 0 0 0;
        max-width: 40rem;
    }

    .card-image-container {
        display: flex;
        justify-content: center;
    }

    .card-container{
        display: flex;
        justify-content: center;
    }

    .card-image {
        border-radius: 0.375rem;
    }
}

@media (max-width: 576px) {
    .city-name {
        display: none;
    }
}