@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
/* Text-Family - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
  }

html, body {
  background-color: #F1F1F1;
}

.bg-light-light{
  background-color: #F1F1F1;
}

#frm-register {
  height: 100vh;
}

.btn-return{
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem !important;
}

.btn-cric{
  background-color: #273273 !important;
  color: #ffff !important;
  transition: 0.5s !important;
}
  
.btn-cric:hover{
  color: var(#ffff) !important;
  background-color: #2B2F4D !important;
  transition: 0.5s;
}

.bg-img {
  box-sizing: border-box;
  background-image: url(../images/top-page/unsplash-img-moutain-bike.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 135vh;
  background-position: 0% 17%; 
}
.text-primary-color{
  color: #273273;
}

.img-logo{
  height: 8rem;
  width: 8rem;
}


/* MESSAGE CARD FX */
.message-container {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.message-container.hide {
    opacity: 0;
}

.error-message{
    border: 2px solid #be1e1e !important;
    color: #be1e1e  !important;
    font-size: 20px;
    font-weight: bolder !important;
}

.success-message{
    border: 2px solid #3fa132 !important;
    color: #3fa132  !important;
    font-size: 20px;
    font-weight: bolder !important;
}

.adjust-message{
    top:100%
}

@media (max-width: 900px) {
  .adjust-register-img{
    background-position: 32% 0% !important; 
 
}
}

@media (max-width: 767px) {
  #frm-register{
    padding-top: 5rem;
  }
  #frm-login{
    padding-top: 5rem;
  }
  .btn-return{
    margin-bottom: 5rem;
  }
}


/*Adjust edit user*/
#datepicker{
  font-size: 1rem !important;
}