body{
background-color: var(--neutral-black-30);
}

.bg-top-image{
    background-image: url(../../static/images/top-page/img-nature.png);
    background-size: cover;
    background-color: var(--secundary-dark);
    background-repeat: no-repeat;
    height: 30rem;
}

.logo-rotacric img{
    border-radius: 15rem;
}

.container form{
    background-color: var(--neutral-black-12) !important;
    border-radius: 45px;
}

.topic-color{
    font-weight: bolder;
    color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-cric{
    color: var(--primary-color) !important;
}

.error-message{
    border: 2px solid #be1e1e !important;
    color: #be1e1e  !important;
    font-size: 20px;
    font-weight: bolder !important;
}

.success-message{
    border: 2px solid #3fa132 !important;
    color: #3fa132  !important;
    font-size: 20px;
    font-weight: bolder !important;
}

.btn-cric{
    background-color: var(--primary-color) !important;
    color: var(--neutral-black-12) !important;
    transition: 2s;
}

.btn-cric:hover{
    color: var(--neutral-white) !important;
    transition: 0.5s;
}

footer{
    background-color: var(--secundary-color);
    margin-top: 29rem !important;
}
.adjust-btn-home{
    margin-right: 2rem;
    background-color: var(--neutral-white) !important;
    color: var(--primary-dark);
    font-weight: bold !important;
    transition: 0.5s !important;
}

.adjust-btn-home:hover{
    background-color: #c4c4c4 !important;
    transition: 1s;
}

.adjust-message{
    top: 140%;
}

@media (max-width: 991px) {
    .img-cric{
        height: 6rem !important;
    }
}

@media (max-width: 767px) {
    .img-cric{
        height: 5rem !important;
    }
}

@media (max-width: 575px) {
    .adjust-btn-home{
        margin-right: 1rem;
    }
    .adjust-message{
        top:133%
    }
}

/* MESSAGE CARD FX */
.message-container {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.message-container.hide {
    opacity: 0;
}

/* 
h1 {
    color: #232e23;
    margin-bottom: 1em;
}

form {
    margin-bottom: 1vh;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 1vh;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #4CAF50;
    margin-top: 1vh;
}

.messages {
    list-style-type: none;
    padding-left: 0;
}

.messages li {
    margin-top: 1vh;
} */