{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'users/profile.css'%}">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
    crossorigin="anonymous"
    >
</head>
<body>

  <div class="container">
    <div class="d-flex align-items-center justify-content-lg-start justify-content-sm-center justify-content-center mx-auto mt-3 d-user">
      <div class="flex-shrink-0 logo-rotacric rounded-circle logo-container">
        <img class="img-fluid img-cric rounded-circle" src="{% static 'images/logos/4.png'%}" alt="...">
      </div>
      <div class="container bg-primary d-none d-lg-block">
        <h2>Rotacric</h2>
        <h4 class="rounded-pill">
          NOmee
        </h4>
      </div>
    </div>
    <!-- Postagens do Usuario -->
    <div class="col-12 bg-warning mt-3" style="height: 30rem;">
      <div class="row mt-5" data-aos="fade-up">
        <div class="col-12 mb-3 mb-sm-0">
          <div class="card border-card">
            <div class="card-body">
              <h5 class="card-title border-bottom border-dark-subtle topic-color">asdadas</h5>
              <!-- <p class="card-text"></p> -->
              <p></p>
              <p class="card-text"><small class="text-body-secondary">Local de sáida: </small></p>
              <p class="card-text"><small class="text-body-secondary">Horário de Concentração: </small></p>
              <p class="card-text"><small class="text-body-secondary">Horário de saída</small></p>
            </div>
          </div>
        </div>
      </div> 
      <div class="row mt-5" data-aos="fade-up">
        <div class="col-12 mb-3 mb-sm-0">
          <div class="card border-card">
            <div class="card-body">
              <h5 class="card-title border-bottom border-dark-subtle topic-color">asdadas</h5>
              <!-- <p class="card-text"></p> -->
              <p></p>
              <p class="card-text"><small class="text-body-secondary">Local de sáida: </small></p>
              <p class="card-text"><small class="text-body-secondary">Horário de Concentração: </small></p>
              <p class="card-text"><small class="text-body-secondary">Horário de saída</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5" data-aos="fade-up">
        <div class="col-12 mb-3 mb-sm-0">
          <div class="card border-card">
            <div class="card-body">
              <h5 class="card-title border-bottom border-dark-subtle topic-color">asdadas</h5>
              <!-- <p class="card-text"></p> -->
              <p></p>
              <p class="card-text"><small class="text-body-secondary">Local de sáida: </small></p>
              <p class="card-text"><small class="text-body-secondary">Horário de Concentração: </small></p>
              <p class="card-text"><small class="text-body-secondary">Horário de saída</small></p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>




    <!-- <h1>Welcome, {{ request.user.username }}!</h1>
    <a href="{% url 'users:logout' %}">Logout</a>
    
    <table>
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Social Network</th>
            <th>Date of Birth</th>
            <th>Bond Choice</th>
            <th>How Knew</th>
            <th>RG</th>
            <th>Route Path</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          {% for enrollment in enrollments %}
          <tr>
            <td>{{ enrollment.full_name }}</td>
            <td>{{ enrollment.email }}</td>
            <td>{{ enrollment.social_network }}</td>
            <td>{{ enrollment.date_of_birth }}</td>
            <td>{{ enrollment.bond_choice }}</td>
            <td>{{ enrollment.how_knew }}</td>
            <td>{{ enrollment.rg }}</td>
            <td>{{ enrollment.route_path }}</td>
            <td>
              <a href="{% url 'users:edit_enrollment' enrollment.id %}">Edit</a>
            </td>            
          </tr>
          {% endfor %}
        </tbody>
      </table>   -->

      <script 
      src="https://kit.fontawesome.com/d97d3ca1f3.js" 
      crossorigin="anonymous"
      ></script>
    
</body>
</html>