{%extends 'base.html'%}
{% load static %}

{% block 'navigation' %}
  <li class="nav-item" data-bs-dismiss="offcanvas">
    <a class="nav-link btn-hover-cric px-4 text-primary-emphasis page-nav-item" href="{% url 'users:logout' %}"><i class="fa-solid fa-right-from-bracket me-2"></i> Sair</a>
  </li>
{% endblock %}

{%block 'content'%}

<div class="bg-image-profile d-flex"></div>

  <div id="image-preview-container">
    <img src="" alt="Image Preview" class="image-preview" id="image-preview">
    <div class="btn-group">
      <button class="btn-pv" onclick="cancelPreview()">Cancelar</button>
      <button class="btn-pv" onclick="savePreview()">Salvar</button>
    </div>
  </div>

  <section>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center card-user">
              
              <div class="image-container position-relative d-flex justify-content-center align-items-center">
                <label for="file-upload" class="text-center btn-alter d-flex justify-content-center align-items-center">
                  Alterar
                </label>
                <input type="file" id="file-upload" style="display: none;" accept="image/*" onchange="previewImage(event)">
                {% if user.personaldata.profile_picture %}
                  <img src="/media/{{ user.personaldata.profile_picture }}" alt="foto do Usuario" class="rounded-circle img-fluid profile-pic">
                {% else %}
                  <img src="{% static 'images/prof_pic_default.jpg' %}" alt="foto do Usuario" class="rounded-circle img-fluid profile-pic">
                {% endif %}
                </div>
              
              <h5 class="my-3">{{ user.username }}</h5>
              <!-- <p class="text-muted mb-1">alguma coisa</p> -->
              <!-- <p class="text-muted mb-4">alguma coisa</p> -->
              <div class="d-flex justify-content-center mb-2">
                <a href="{% url 'users:edit_user' user.id %}" type="button" class="btn btn-outline-dark ms-1">Editar informações pessoais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nome Completo</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.first_name|default:"--" }} {{ user.last_name|default:"--" }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.email|default:"--"  }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Rede Social</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.personaldata.social_network|default:"--"  }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Data de Nascimento</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.personaldata.date_of_birth|date:"d/m/Y"|default:"--"  }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">RG</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.personaldata.rg|default:"--"  }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Identificação</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.personaldata.bond_choice|default:"--"  }}</p>
                </div>
              </div>
              <!-- <hr> -->
              <!-- <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Como soube?</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.personaldata.how_knew }}</p>
                </div>
              </div> -->
            </div>
          </div>
          {% if enrollments %}
            <h3 class="topic-color text-center mt-5">Inscrições</h3>
          {% endif %}
          <div class="row">
            {% for enrollment in enrollments %}
              <div class="col-md-6 mt-3">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-2 topic-color fs-5">{{ enrollment.event.name }}</p>

                    <img src="{% static 'images/images-cities/charqueadas-trevo.jpeg'%}" class="post-user w-100" alt="...">

                    <p class="mt-3 mb-1 fs-6" style="font-size: .77rem;">
                      <span class="fw-bolder">
                        Local: 
                      </span> {{ enrollment.route_path.departure_location }}
                    </p>

                    <p class="mt-3 mb-1 fs-6" style="font-size: .77rem;">
                      <span class="fw-bolder">
                        Inicio do Evento: 
                      </span> {{ enrollment.route_path.concentration }}
                    </p>

                    <p class="mt-3 mb-1 fs-6" style="font-size: .77rem;">
                      <span class="fw-bolder">
                        Nome do inscrito: 
                      </span> {{ enrollment.full_name }}
                    </p>                

                    <a href="{% url 'events:event' pk=enrollment.event.id %}" type="button" class="btn btn-outline-secondary w-100">Acompanhar Evento</a>

                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>  

  <script>
    const userId = '{{ user.id }}';
    const uploadUrl = "{% url 'users:upload_image' %}"
  </script>
  <script src="{% static 'js/users/profile.js' %}" async></script>
  
  {%endblock%}
