{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>              
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1KVPSKL20C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1KVPSKL20C');
  </script>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="{% static 'images/logos/4-nobg.png' %}" type="image/png">

  <link rel="stylesheet" href="{% static 'style/style-route.css'%}">

  <link 
    href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" 
    rel="stylesheet"
  >

  <link
    rel="stylesheet" 
    href="https://unpkg.com/aos@next/dist/aos.css"
  >


  <!-- BOOTSTRAP LINK -->

  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
  crossorigin="anonymous"
  >

  <!-- INDEX STYLE  -->

  <link 
    rel="stylesheet" 
    href="{% static 'style/style-index.css'%}"
  >

  <!-- SWIPER SLIDER -->
  <link
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  >

  <!-- EVENT STYLE  -->
  <link 
    rel="stylesheet" 
    href="{% static 'event/style-event.css'%}"
  >
  <!-- PROFILE STYLE -->
  <link 
  rel="stylesheet" 
  href="{% static 'users/profile.css'%}"
>

  <!-- CITY STYLE -->
  <link 
    rel="stylesheet" 
    href="{% static 'cities/style-city.css' %}"
    >

  <!-- LEAFLET LINK -->
  <link
    rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" 
  >

  <!-- IMPORT GOOGLEAPIS -->

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
  </style>

  <!-- FONTAWESOME SCRIPT -->

  <script src="https://kit.fontawesome.com/25f535c468.js" crossorigin="anonymous"></script>

  <!-- LEAFLET SCRIPT -->

  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""
  ></script>

  <script src="{% static 'js/routes/Polyline.encoded.js'%}"></script>

  <!-- DATEPICKER -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  {%block 'styles'%}{%endblock%}

  <title>Rota - CRIC</title>

    </head>
<body class="background">

  <div class="container-fluid d-block d-md-none text-center nav-bar-container p-0 font-cric">
    <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a href="{% url 'home:home' %}" class="m-nav">
          <img class="img-fluid" width="60" height="60" src="{% static 'images/logos/rotacric-sem-fundo.png'%}" alt="...">
        </a>
        <button id="btn-open" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="box-shadow: none;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end offcanvas-cric" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Rota<span class="topic-color fw-bold">Cric</span></h5>
            <button type="button" class="btn-close" id="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav d-flex justify-content-evenly text-start flex-grow-1 pe-3 gap-1">
                <li class="nav-item">
                    <a class="nav-link btn-hover-cric px-4 text-primary-emphasis" aria-current="page" href="{% url 'home:home' %}"><i class="fa-solid fa-house me-2 text-primary-emphasis"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn-hover-cric px-4 text-primary-emphasis" aria-current="page" href="#"><i class="fa-solid fa-user me-2 text-primary-emphasis" style="color: #233e6c;"></i>Entrar</a>
                </li>
                <li class="nav-item" data-bs-dismiss="offcanvas">
                  <a class="nav-link btn-hover-cric px-4 text-primary-emphasis page-nav-item"  aria-current="page" href="#events"><i class="fa-solid fa-road me-2 text-primary-emphasis" ></i>Eventos</a>
                </li>
              <li class="nav-item" data-bs-dismiss="offcanvas">
                <a class="nav-link btn-hover-cric px-4 text-primary-emphasis page-nav-item" href="#cities"><i class="fa-solid fa-city me-1"></i> Municipios</a>
              </li>
              <li class="nav-item" data-bs-dismiss="offcanvas">
                  <a class="nav-link btn-hover-cric px-4 text-primary-emphasis page-nav-item" href="#manual"><i class="fa-solid fa-book me-2"></i> Manual</a>
              </li>
              <li class="nav-item" data-bs-dismiss="offcanvas">
                  <a class="nav-link btn-hover-cric px-4 text-primary-emphasis page-nav-item" href="#about"><i class="fa-solid fa-circle-info me-2"></i> Sobre</a>
              </li>
            </ul>
        </div>
        </div>
      </div>
    </nav> 
  </div>



  <div class="container-fluid d-none d-md-block text-center nav-bar-container p-0 font-cric">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a href="{% url 'home:home' %}" class="m-nav">
          <img class="img-fluid" width="70" height="70" src="{% static 'images/logos/rotacric-subtitle-sem-fundo.png'%}" alt="...">
        </a>
        <form class="d-flex me-5">
          <li class="nav-link">
            <a href="#events" class="nav-link btn-hover-cric px-4 py-2 mx-1">Eventos</a>
          </li>
          <li class="nav-link">
            <a href="#cities" class="nav-link btn-hover-cric px-4 py-2 mx-1">Municípios</a>          
          </li>
          <li class="nav-link">
            <a href="#about" class="nav-link btn-hover-cric px-4 py-2 mx-1">Quem Somos?</a>
          </li>
          <li class="nav-link">
            <a href="" class="nav-link btn-hover-cric px-4 py-2 mx-1 fw-bolder fw-blue">Entrar</a>
          </li>

          {% block 'navigation-mobile' %}
          {% endblock %}
        
        </form>
      </div>
    </nav>
  </div>
  
  
    {%block 'content'%}{%endblock%}

  <footer class="text-white pt-5 pb-4 mt-0 background-footer">

      <div class="container text-center text-md-left">
  
        <div class="row text-center text-md-left">
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <img class="img-fluid img-cric" src="{% static 'images/logos/4.png'%}" alt="..." style="border-radius: 15rem;">
          </div>
  
          <div class="col-md-6 col-lg-8 col-xl-5 mx-auto mt-3">
            <!-- <h5 class="text-uppercase mb-4 font-weight-bold" style="color:#a5a5a5;"></h5> -->
            <p style="font-size: 0.98rem;">
              O projeto ROTACRIC é um oferecimento da Assossiação dos Municípios da Região Carbnífera (ASMURC) juntamente com o Conselho Regional de Desenvolvimento (COREDE) e a Prefeitura Municipal de General Câmara, em parceria com o Instituto Federal (IFSUL) Câmpus Charqueadas.
            </p>
          </div>
  
  
          <div class="col-md-4 col-lg-2 mx-auto mt-3">
            <img class="img-fluid img-cric mb-5" src="{% static 'images/arms/brasao.png'%}" alt="...">

          </div>
          <hr class="mb-4">
  
          <div class="col-md-7 col-lg-8">
            <p>Copyright @2023 Todos os direitos revervados pela:
              <a href="#" style="text-decoration: none;">
                <strong style="color: #686868;">ROTACRIC</strong>
              </a>
            </p>
          </div>
  
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m18.73 5.41l-1.28 1L12 10.46L6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64z"/></svg>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216a4.61 4.61 0 0 0-2.633-2.633a6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42a4.607 4.607 0 0 0-2.633 2.633a6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632a6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419a4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187c.043-.962.056-1.267.056-3.71c-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078a1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"/><circle cx="11.994" cy="11.979" r="3.003" fill="currentColor"/></svg> 
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating text-white" style="height: 5rem;">
                    <i class="fab fa-github fs-3"></i> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
         </div>
        </div>        
  </footer>

    <!-- FAB -->
    <div class="fab-container" data-aos="fade-up">
      <button class="btn btn-primary" id="fab-button">
        <i class="fas fa-arrow-up"></i>
      </button>
    </div>

    <script>
      const homeUrl = "{% url 'home:home' %}";
    </script>
    <script src="{% static 'js/home/navbar.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>