{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>              
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1KVPSKL20C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1KVPSKL20C');
  </script>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{% static 'style/style-route.css'%}">

  <link 
    href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" 
    rel="stylesheet"
  >

  <link
    rel="stylesheet" 
    href="https://unpkg.com/aos@next/dist/aos.css"
  >


  <!-- BOOTSTRAP LINK -->

  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
  crossorigin="anonymous"
  >

  <!-- INDEX STYLE  -->

  {% comment %} Troquei o link do Index antigo para o index_r {% endcomment %}

  <link 
    rel="stylesheet" 
    href="{% static 'style/style-index.css'%}"
  >

  <!-- EVENT STYLE  -->

  <link 
    rel="stylesheet" 
    href="{% static 'event/style-event.css'%}"
  >

  <!-- LEAFLET LINK -->

  <link
    rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" 
  >

  <!-- IMPORT GOOGLEAPIS -->

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
  </style>

  <!-- FONTAWESOME SCRIPT -->

  <script 
    src="https://kit.fontawesome.com/d97d3ca1f3.js" 
    crossorigin="anonymous"
  ></script>

  <!-- LEAFLET SCRIPT -->

  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""
  ></script>

  <script src="{% static 'js/routes/Polyline.encoded.js'%}"></script>


  {%block 'styles'%}{%endblock%}

  <title>Rota - CRIC</title>

    </head>
<body class="background">

  <div class="container-fluid text-center">
  
    <!-- {% comment %} NAVIGATION {% endcomment %} -->
    
    <div class="d-flex align-items-center fixed-top col-lx-9 mx-auto mt-5 nav-bar-rotacric nav-t-5">
      <div class="flex-shrink-0 col-lg-1 logo-rotacric rounded-circle ms-5">
        <img class="img-fluid img-cric" src="{% static 'images/logos/4.png'%}" alt="...">
      </div>
      <div class="flex-grow-1 me-5 ms-3">
          <nav class="navbar navbar-expand-md mb-0 rounded-pill">
              <div class="container text-center">
                          <a class="navbar-brand" href="#"></a>
                          <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                          </button>
                      <div class="offcanvas offcanvas-end text-center" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                          <div class="offcanvas-header">
                              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">RotaCric</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                          </div>
                          <div class="offcanvas-body">
                              <ul class="navbar-nav d-flex justify-content-around text-center flex-grow-1 pe-3">
                                  <li class="nav-item">
                                      <a class="nav-link" aria-current="page" href="#">Home</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Municipios</a>
                                  </li>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Eventos
                                    </a>
                                    <ul class="dropdown-menu text-center">
                                      {% for event in events %}
                                        <li><a class="dropdown-item" href="{% url 'events:event' pk=event.id %}">{{ event.name }}</a></li>
                                      {% endfor %}
                                    </ul>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Manual</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Sobre</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
              </div>
          </nav>
      </div>
    </div>
  </div>
  
    {%block 'content'%}{%endblock%}


    <footer class="text-white pt-5 pb-4 mt-5 background-footer">

      <div class="container text-center text-md-left">
  
        <div class="row text-center text-md-left">
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <img class="img-fluid img-cric" src="{% static 'images/logos/4.png'%}" alt="..." style="border-radius: 15rem;">
          </div>
  
          <div class="col-md-6 col-lg-8 col-xl-5 mx-auto mt-3">
            <!-- <h5 class="text-uppercase mb-4 font-weight-bold" style="color:#a5a5a5;"></h5> -->
            <p style="font-size: 0.98rem;">
              O projeto ROTA CRIC é um oferecimento da Assossiação dos Municípios da Região Carbnífera (ASMURC) juntamente com o Conselho Regional de Desenvolvimento (COREDE), em parceria com o Instituto Federal (IFSUL) Cãmpus Charqueadas, elaborado através dos alunos bolsistas e dos coordenadores do projeto. Um agradecimento especial às secretarias de turismo de cada cidade participante, que forneceram parte do material utilizado no projeto.
            </p>
          </div>
  
  
          <div class="col-md-4 col-lg-2 mx-auto mt-3">
            <img class="img-fluid img-cric mb-5" src="{% static 'images/arms/brasao.png'%}" alt="...">

          </div>
          <hr class="mb-4">
  
          <div class="col-md-7 col-lg-8">
            <p>Copyright @2022 All rights reserved by:
              <a href="#" style="text-decoration: none;">
                <strong style="color: #686868;">Rota Cric</strong>
              </a>
            </p>
          </div>
  
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white">
                    <i class="fas fa-envelope fs-3"></i> 
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white">
                    <i class="fab fa-instagram fs-3"></i> 
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating text-white" style="height: 5rem;">
                    <i class="fab fa-github fs-3"></i> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
         </div>
        </div>        
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>