{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="icon" href="{% static 'images/logos/rotacric-alternative.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'style/global.css'%}">
    <link rel="stylesheet" href="{% static 'style/style-login-register.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light-light">

    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center p-0">
        <!-- Painel Esquerdo -->
        <div class="left-panel d-md-flex col-md-4 vh-100 flex-column justify-content-center align-items-center p-2">
        </div>

        <!-- Painel Direito -->
        <div class="col-md-8 right-panel vh-100 d-flex flex-column justify-content-center align-items-left">
            <a href="{% url 'home:home' %}" class="m-3 m-nav align-self-center">
                <img class="img-fluid" width="120" height="120" src="{% static 'images/logos/rotacric-subtitle-sem-fundo.png' %}" alt="Logo RotaCric">
            </a>
            <h2 class="mb-3 fw-medium text-center">Bem-vindo de volta</h2>
            <p class="text-center text-muted">Entre para continuar sua jornada</p>

            <!-- Formulário -->
            <form id="frm-login" method="POST" action="{% url 'users:login' %}">
                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" name="email" class="form-control rounded-0 shadow-none py-3 px-4"
                        placeholder="Usuário ou Email">
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control rounded-0 shadow-none py-3 px-4"
                        placeholder="Senha">
                </div>
                <button type="submit" class="btn btn-cric btn-lg rounded-pill py-2 w-100">Entrar</button>
                <div class="text-end mt-2">
                    <!-- <a href="{% url "reset_password" %}" class="mt-3 text-primary-color text-decoration-none fw-medium">Esqueceu a senha?</a> -->
                </div>
            </form>

            <!-- Botões Sociais -->

            <!-- <div class="d-flex align-items-center my-4">
                <hr class="flex-grow-1">
                <span class="mx-3 text-muted small">ou continue com</span>
                <hr class="flex-grow-1">
            </div>

            <div class="mb-3 row g-3">
                <div class="col-6">
                    <button
                        class="social-btn w-100 d-flex align-items-center justify-content-center rounded-3 p-2 gap-2">
                        {% include "components/icons/google.svg" %} Google
                    </button>
                </div>
                <div class="col-6">
                    <button
                        class="social-btn w-100 d-flex align-items-center justify-content-center rounded-3 p-2 gap-2">
                        {% include "components/icons/facebook.svg" %} Facebook
                    </button>
                </div>
                <div class="col-6">
                    <button
                        class="social-btn w-100 d-flex align-items-center justify-content-center rounded-3 p-2 gap-2">
                        Strava
                    </button>
                </div>
                <div class="col-6">
                    <button
                        class="social-btn w-100 d-flex align-items-center justify-content-center rounded-3 p-2 gap-2">
                        SUAP
                    </button>
                </div>
            </div> -->

            <p class="mt-3 text-center text-muted">Não tem uma conta? <a href="{% url 'users:register' %}"
                    class="text-primary-color text-decoration-none fw-semibold">Cadastre-se gratuitamente</a></p>
        </div>
    </div>


    <!-- Mensagens -->
    {% include "components/toast.html"%}

    <script src="{% static 'js/components/message_fx.js' %}" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>