@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@import "./custom_classes.css";

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  overflow: auto;
}

.user-initials {
  width: 40px;
  height: 40px;
  background-color: #273273;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

/* ---------- Mensagens ---------- */

.toast-message {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #fff;
    font-family: Arial, sans-serif;
    min-width: 250px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast-message.show {
    opacity: 1;
    transform: translateX(0);
}

.toast-message.hide {
    opacity: 0;
    transform: translateX(100%); 
}

.toast-message.success { background-color: #4CAF50; } 
.toast-message.error { background-color: #F44336; }   
.toast-message.info { background-color: #2196F3; }
.toast-message.warning { background-color: #FF9800; }

.toast-title {
    font-weight: bold;
    margin-right: 10px;
}

.toast-text {
    flex: 1;
}

/* ---------- FAB ---------- */

.fab-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: fit-content;
  width: fit-content;
  z-index: 9999;
  border-radius: 100%;
  border: none;
}
.offcanvas-cric{
    width: 215px !important;
}

#fab-button {
  border: 2px solid var(--secondary-dark);
  background-color: var(--secondary-dark);
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  transition: 0.5s;
}

#fab-button:hover{
  background-color: var(--primary-color);
  transition: 0.5s;
}