body{
    height: 100vh;
}

.div-cric-principal{
  background-color: #e1ebff;
}

.seta-cric{
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.seta-cric svg{
  transition: .2s ease-out;

  box-sizing: content-box;
  padding: .5rem;

  color: #000;
  background-color: #fff;

  border-radius: 100%;
}

.seta-cric svg:hover{
  background-color: #cccedd;
}

.btn-lg{
    background-color: #434d86 !important;
    color: rgb(178, 171, 219) !important;
}

.btn-lg:hover{
  background-color: #2B2F4D !important;
  color: #fff !important;
}

.bg-padrao{
    background-color: #E1EBFF;
}

.adjust-pos{
    border-top-right-radius: 40% 35% !important;

}

.bg-img{
    background: url(../images/top-page/img-bg-reset-password.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 30% !important;
}