body{
    height: 100vh;
}

.bg-padrao{
    background-color: #E1EBFF;
}

.adjust-pos{
    border-top-right-radius: 40% 35% !important;

}

.bg-img{
    background: url(../images/top-page/img-bg-reset-password.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: 0% 85% !important;
}