// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: 'Josefin Sans', sans-serif;
// }

// /* MAIN */

// :root {
//   --primary-color: #540000;
//   --secundary-color: #660D0C;
//   --text-color: #fff;
//   --text-color-black: #000;
//   --color-hover: rgb(180, 173, 173);
//   // font-size: 62.5%;

//   --bg-color: #f2f2f2;
//   --text-white-color: #ffffff;
//   --text-black-color: #000000;
//   --text-font-size: 15px;
//   --text-font-size-m: 20px;
//   --text-footer-size: 15px;

//   --bg-footer-color: #1c1c1c;
//   --text-secondary-color: #4f4f4f;
// }


// #arroio-dos-ratos {
//   background-image: url(../assets/images/images-cities/arroio-dos-ratos.jpg);
// }

// #barao-do-triunfo {
//   background-image: url(../assets/images/images-cities/barao-do-triunfo.jpg);
// }

// #butia {
//   background-image: url(../assets/images/images-cities/butia.jpg);
// }

// #charqueadas {
//   background-image: url(../assets/images/images-cities/charqueadas.jpg);
// }

// #general-camara {
//   background-image: url(../assets/images/images-cities/general-camara.jpg);
// }

// #minas-do-leao {
//   background-image: url(../assets/images/images-cities/minas-do-leao.jpg);
// }

// #sao-jeronimo {
//   background-image: url(../assets/images/images-cities/sao-jeronimo.jpg);
// }

// #triunfo {
//   background-image: url(../assets/images/images-cities/triunfo.jpg);
// }

// section.container-cities {
//   max-width: 100vw;
//   min-height: 80vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-block: 2rem;

//   .container-inside {
//     min-width: 75%;
//     height: auto;
//     display: flex;
//     flex-direction: column;
//     gap: .5rem;

//     .container-city {
//       width: 100%;
//       flex-basis: 5rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       background-size: 100% auto;
//       background-position: center;
//       background-repeat: no-repeat;

//       border-radius: 10px;

//       .content {
//         width: 100%;
//         height: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         flex-direction: row;
//         // gap: 1rem;

//         padding: .9rem;

//         img {
//           display: none;

//           .img-logo {
//             width: 3rem;
//             height: 3rem;
//           }
//         }

//         .city-name {
//           display: none;
//           // font-size: var(--text-font-size);
//           // font-weight: 400;
//           // color: var(--text-color);
//         }

//         .city-name-mobile {
//           span {
//             color: var(--text-white-color);
//             text-transform: uppercase;
//             letter-spacing: 2px;
//             font-size: var(--text-font-size);
//           }
//         }
//       }

//       .content-img,
//       .content-infos {
//         display: none;
//       }

//     }
//   }
// }

:root{
    --primary-color: #273273;
    --primary-light: #829FD9;
    --primary-dark: #131A40;

    --secundary-color: #2B2F4D;
    --secundary-light: #4E64A6;
    --secundary-dark: #101633;

    --neutral-black-100: #000000;
    --neutral-black-30: #565656;
    --neutral-black-12: #D9D9D9;
    --neutral-black-1: #F1F1F1;
    --neutral-white: #FFFFFF;
    
}

.footer-mobile {
  width: 100%;
  height: auto;
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  color: var(--neutral-white);

  h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 30px 0px 10px 30px;
  }

  .divider-footer {
    border: 1px solid white;
    width: 125px;
    margin: 10px 0px 10px 30px;
  }

  .divider-footer2 {
    border: 1px solid white;
    width: 240px;
    margin: 10px 0px 10px 30px;
  }

  .divider-footer3 {
    border: 1px solid white;
    width: 200px;
    margin: 10px 0px 10px 30px;
  }

  .contact,
  .faq,
  .about {
    .content {
      display: flex;
      flex-direction: column;

      span {
        font-size: 15px;
        margin-inline: 30px;
        margin-block: 10px;
        line-height: 1.5em;
      }
    }
  }

  .rights {
    margin-block: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      text-transform: capitalize;
      font-weight: 400;
      color: var(--neutral-black-30);
    }
  }
}

.footer-desktop {
  display: none;
}

@media(min-width: 500px) {

  section.container-cities {
    .container-inside {
      .container-city {
        .content {
          .city-name {
            display: none;
          }

          .city-name-mobile {
            span {
              color: var(--neutral-white);
              text-transform: uppercase;
              letter-spacing: 2px;
              font-size: 4rem;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 992px) {

  section.container-cities {
    min-height: 95vh;

    .container-inside {
      min-width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: .3rem;

      .container-city {
        flex: .1;
        height: 55rem;
        transition: .5s ease;
        background-size: cover;
        position: relative;

        .content {
          width: 20%;
          flex-direction: column;
          justify-content: flex-start;

          .city-name {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-block: .5rem;
            padding-inline: 1rem;
            gap: 0.6rem;

            >span {
              color: var(--neutral-black-100);
              font-size: 1.6rem;
              font-weight: lighter;
              transition: .3s ease;
            }
          }

          .city-name-mobile {
            display: none;
          }

          >a {
            position: absolute;
            bottom: 2%;
          }

          img {
            .img-logo {
              width: 3.5rem;
              height: 3.5rem;
            }
          }

          svg {
            width: 3rem;
            height: 3rem;
          }
        }

        .content-img,
        .content-infos {
          display: none;
        }
      }
    }
  }

  .footer-mobile {
    display: none;
  }


  /* FOOTER */
  .footer-desktop {
    max-width: 100vw;
    height: auto;
    background-color: var(--primary-dark);

    color: white;
    font-size: 2rem;

    display: grid;
    grid-template-rows: 1fr 1fr .5fr;
    grid-template-areas:
      "box01"
      "box02"
      "box03";

    .box {
      min-height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .lineBox01 {
        border-bottom: 2px solid white;
      }

      .lineBox03 {
        border-top: 2px solid white;
      }

      .content {
        width: 80%;
        height: 80%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 1rem .5rem;

        >span {
          font-size: 1.6rem;
          text-align: justify;
        }

        >img {
          padding: 1rem;
        }

        >ul {
          display: flex;
          gap: 1.6rem;
        }

        ul {
          li {
            list-style: none;
            transition: .5s;

            svg {
              width: 4.5rem;
              height: 4.5rem;
            }
          }
        }
      }
    }

    .box01 {
      grid-area: box01;
    }

    .box02 {
      grid-area: box02;
    }

    .box03 {
      grid-area: box03;
    }
  }
}

@media (min-width: 750px) {
  .footer-desktop {
    grid-template-rows: initial;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: "box01 box02 box03";

    .box {
      .lineBox01 {
        border-right: 2px solid white;
        border-bottom: initial;
      }

      .lineBox03 {
        border-left: 2px solid white;
        border-top: initial;
      }

      .content {
        width: 100%;
        height: 80%;

        padding-inline: 3.2rem;
      }
    }
  }
}

// @media(min-width: 1280px) {
//   section.container-cities div.container-inside div.container-city {
//     flex: .1;
//     height: 50rem;
//   }

//   section.container-cities div.container-inside {
//     min-width: 95%;
//   }

//   section.container-cities div.container-inside div.container-city div.content img.img-logo {
//     width: 4rem;
//     height: 4rem;
//   }
// }

// @media(min-width: 1440px) {
//   section.container-cities div.container-inside div.container-city {
//     flex: .1;
//     height: 65rem;
//   }

//   section.container-cities div.container-inside div.content-infos div.box header h1 {
//     font-size: 3.2rem;
//   }

//   section.container-cities div.container-inside div.container-city div.content div.city-name>span {
//     font-size: 2rem;
//   }

//   section.container-cities div.container-inside div.content-infos div.box div.content ul li {
//     font-size: 2.4rem;
//   }
// }