.left-panel {
    position: relative;
    background: url(../images/top-page/img-top-page-2.jpg) right no-repeat;
    background-position: 80% 0%;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.left-panel::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.left-panel > * {
    position: relative;
    z-index: 2;
}


.left-panel h2 {
    font-weight: bold;
}

.left-panel p {
    margin: 15px 0;
}

.left-panel .btn {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
}

.right-panel {
    background: #E1EBFF;
    padding: 5rem;
}

.social-btn {
  width: 48px;
  height: 100%;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.social-btn svg {
  width: 22px;
  height: 22px;
  fill: #fff;
}

.social-btn:hover {
  opacity: 0.85;
}


/* ---------- Inputs ---------- */
#frm-login input, #frm-login button {
  transition: 0.3s;
  border-radius: 0.5rem !important;
}

#frm-login input:focus {
  border-color: #273273;

  /* isso nao "ativado" falta o !important, APAGAR??*/
  box-shadow: 0 0 0 0.25rem rgba(39, 50, 115, 0.2);
}

/* ---------- tela ajust ---------- */

@media (max-width: 1390px) {
  .right-panel .img-fluid{
    margin: 0 0 20% 0;
  }
}

@media (max-width: 767px) {
  .left-panel{
    background-image: none;
    display: none;
    position: relative;
    padding: 0px;
  }

  /* --- só consegui arrumar a linha branca que fica criando um id --- */
  #adjust-line{
    padding: 0px !important;
  }

  .left-panel::before{
    display: none;
  }
}