@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; 
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    width: 1240px; 
    height: 1754px; 
    border-top: 30px solid #273273;
    border-left: 30px solid #131A40;
    border-right: 30px solid #131A40;
    border-bottom: 30px solid #273273;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.container {
   margin: 0 auto;
   text-align: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-inline: 5rem;
}

header .box-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header .box-title .rotacric{
    display: flex;
    align-items: center;

}
header .box-title .logo-cric{
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    margin-left: 2rem;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 60%;
}
header .box-title .medalha{
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    margin-left: 2rem;
}
header .box-title h1{
    color: black;
    font-size: 25px;
}

header .box-title h1 span{
    color: #273273;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
main .certificado img{
    height: 15rem;
    width: 15rem;
}
main .certificado{
    display: block;
    text-align: center;
}
main .certificado h1{
    margin-top: 1rem;
    color: #131A40;
}
main .certificado p{
    font-size: 16px;
    margin-top: 4rem;
}

main .certificado h2{
    margin-top: 2rem;
    font-weight: 700;
}
main .certificado .p-2{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    line-height: 25px;
}
main .certificado .p-3{
    margin-top: 5rem;
}
footer{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 30%;
}
footer img{
    height: 7.4rem;
}

