@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

/* MAIN */

:root{
    --primary-color: #273273;
    --primary-light: #829FD9;
    --primary-dark: #131A40;

    --secundary-color: #2B2F4D;
    --secundary-light: #4E64A6;
    --secundary-dark: #101633;

    --neutral-black-100: #000000;
    --neutral-black-30: #565656;
    --neutral-black-12: #D9D9D9;
    --neutral-black-1: #F1F1F1;
    --neutral-white: #FFFFFF;
    
}

.background {
  background-color: var(--neutral-black-12);
}

/* NAVIGATION */

.navbar {
    background-color:var(--neutral-white);
}

.logo-rotacric img{
  border-radius: 15rem;
}
.nav-t-5{
  transition: 0.5s;
}
.nav-scroll-rotacric{
  background-color: var(--neutral-white);
  height: 8rem;
  font-size: 20px;
  transition: 0.5s;
}

.topic-color{
  color: var(--primary-color);
}

.btn-collapse{
  background-color: var(--primary-light);
  width: 15rem;
}


.conteudo {
  margin-block: 1.6rem;
}

/* DESKTOP */

@media (min-width: 1025px) {
  .divisor {
    width: 1px;
    height: 16rem;
    border: 0;
    border-left: 1px solid #273273;
  }

 /*Pagina Manual*/

  .rule1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule1 {
    /* width: 14rem;
    height: 14rem; */
    width: 160px;
    height: 160px;
    /* background-image: url(../images/security-svg/trash.svg); */
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule2 {
    width: 160px;
    height: 160px;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule3 {
    width: 160px;
    height: 160px;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule4 {
    width: 160px;
    height: 160px;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /*Pagina sobre*/

  .logo-if {
    margin-bottom: 1rem;
    width: 160px;
    height: 160px;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }

  .img-corede {
    /* margin-bottom: 3rem; */
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .logo-about {
    width: 160px;
    height: 160px;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }
}

/* LAPTOP */

@media (max-width: 1024px) {
  .divisor {
    /* margin-top: 1rem; */
    width: 1px;
    height: 14rem;
    border: 0;
    border-left: 1px solid #273273;
  }

 /*Pagina Manual*/

  .rule1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule1 {
    width: 14rem;
    height: 14rem;
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule2 {
    width: 14rem;
    height: 14rem;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule3 {
    width: 14rem;
    height: 14rem;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule4 {
    width: 14rem;
    height: 14rem;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

 /*Pagina Sobre*/

  .logo-if {
    margin-bottom: 1rem;
    width: 160px;
    height: 160px;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }

  .logo-about {
    width: 160px;
    height: 160px;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

  .img-corede {
    /* margin-bottom: 3rem; */
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }
}

/* TALBLET */

@media (max-width: 768px) {
  .divisor {
    display: none;
  }

 /*Pagina Manual*/

  .rule1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule1 {
    width: 100px;
    height: 100px;
    background-image: url(../../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: center;
  }

  .divisor-mobile {
    margin-bottom: 2rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #273273;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule2 {
    width: 100px;
    height: 100px;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: center;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule3 {
    width: 100px;
    height: 100px;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: center;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule4 {
    width: 100px;
    height: 100px;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 3.5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: center;
  }

  /* Parte sobre */

  .logo-about {
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 12rem;
    height: 12rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .logo-if {
    margin-bottom: 1rem;
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}

/* MOBILE - L */

@media (max-width: 425px) {
  .divisor {
    display: none;
  }

 /*Pagina Manual*/

  .divisor-mobile {
    margin-bottom: 2rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #273273;
  }

  .rule1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule1 {
    width: 90px;
    height: 90px;
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule2 {
    width: 90px;
    height: 90px;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule3 {
    width: 90px;
    height: 90px;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule4 {
    width: 90px;
    height: 90px;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 3.5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

 /*Pagina Manual*/

  .logo-about {
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .logo-if {
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}

/* MOBILE - S */

@media (max-width: 320px) {
  .divisor {
    display: none;
  }

   /*Pagina Manual*/

  .divisor-mobile {
    margin-bottom: 2rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #273273;
  }

  .rule1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule1 {
    width: 90px;
    height: 90px;
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule2 {
    width: 90px;
    height: 90px;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule3 {
    width: 90px;
    height: 90px;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule4 {
    width: 90px;
    height: 90px;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 3.5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /* Parte Sobre */
  
  .logo-about {
    width: 90px;
    height: 90px;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }
  .logo-if {
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}
