@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

/* MAIN */

:root{
    --primary-color: #273273;
    --primary-light: #829FD9;
    --primary-dark: #131A40;

    --secundary-color: #2B2F4D;
    --secundary-light: #4E64A6;
    --secundary-dark: #101633;

    --neutral-black-100: #000000;
    --neutral-black-30: #565656;
    --neutral-black-12: #D9D9D9;
    --neutral-black-1: #F1F1F1;
    --neutral-white: #FFFFFF;
    
}

.background {
  background-color: var(--neutral-black-12);
}

/* NAVIGATION */

.navbar {
    background-color:var(--neutral-white);
}

.logo-rotacric img{
  border-radius: 15rem;
}
.nav-t-5{
  transition: 0.5s;
}
.nav-scroll-rotacric{
  background-color: var(--neutral-white);
  height: 8rem;
  font-size: 20px;
  transition: 0.5s;
}

.topic-color{
  color: var(--primary-color);
}

.border-card{
  border:#131A40 solid 1.5px ;
}

.btn-collapse{
  background-color: var(--primary-light);
  width: 15rem;
}

.conteudo {
  margin-block: 1.6rem;
}


section.container-cities {
  max-width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
}
section.container-cities .container-inside {
  min-width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section.container-cities .container-inside .container-city {
  width: 100%;
  flex-basis: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
section.container-cities .container-inside .container-city .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.9rem;
}
section.container-cities .container-inside .container-city .content img {
  display: none;
}
section.container-cities .container-inside .container-city .content img .img-logo {
  width: 3rem;
  height: 3rem;
}
section.container-cities .container-inside .container-city .content .city-name {
  display: none;
}
section.container-cities .container-inside .container-city .content .city-name-mobile span {
  color: var(--neutral-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}
section.container-cities .container-inside .container-city .content-img,
section.container-cities .container-inside .container-city .content-infos {
  display: none;
}

/* FOOTER */

.background-footer{
  background-color: var(--secundary-color);
}

/* 
.footer-mobile {
  width: 100%;
  height: auto;
  background-color: var(--secundary-color);
  display: flex;
  flex-direction: column;
  color: var(--neutral-white);
}
.footer-mobile h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px 0px 10px 30px;
}
.footer-mobile .divider-footer {
  border: 1px solid white;
  width: 125px;
  margin: 10px 0px 10px 30px;
}
.footer-mobile .divider-footer2 {
  border: 1px solid white;
  width: 240px;
  margin: 10px 0px 10px 30px;
}
.footer-mobile .divider-footer3 {
  border: 1px solid white;
  width: 200px;
  margin: 10px 0px 10px 30px;
}
.footer-mobile .contact .content,
.footer-mobile .faq .content,
.footer-mobile .about .content {
  display: flex;
  flex-direction: column;
}
.footer-mobile .contact .content span,
.footer-mobile .faq .content span,
.footer-mobile .about .content span {
  font-size: 15px;
  margin-inline: 30px;
  margin-block: 10px;
  line-height: 1.5em;
}
.footer-mobile .rights {
  margin-block: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-mobile .rights h4 {
  text-transform: capitalize;
  font-weight: 400;
  color: var(--neutral-black-30);
}

.footer-desktop {
  display: none;
} */


/* DESKTOP */

@media (min-width: 1940px) {
  section.container-cities div.container-inside div.container-city {
    flex: 0.1;
    height: 65rem;
  }
  section.container-cities div.container-inside div.content-infos div.box header h1 {
    font-size: 3.2rem;
  }
  section.container-cities div.container-inside div.container-city div.content div.city-name > span {
    text-transform: uppercase;
    font-size: 2rem;
  }
  section.container-cities div.container-inside div.content-infos div.box div.content ul li {
    font-size: 2.4rem;
  }
}

@media (min-width: 1280px) {
  section.container-cities div.container-inside div.container-city {
    flex: 0.1;
    height: 50rem;
  }
  section.container-cities div.container-inside {
    min-width: 95%;
  }
  section.container-cities div.container-inside div.container-city div.content img.img-logo {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 1025px) {
  .bg-image-h{
    background-image: url(../images/top-page/img-top-page-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40rem;
}    
  .divisor {
    width: 1px;
    height: 16rem;
    border: 0;
    border-left: 1px solid #273273;
  }

 /*Pagina Manual*/

  .rule1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule1 {
    /* width: 14rem;
    height: 14rem; */
    width: 10rem;
    height: 10rem;
    /* background-image: url(../images/security-svg/trash.svg); */
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule2 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule3 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule4 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /*Pagina sobre*/

  .logo-if {
    margin-bottom: 1rem;
    width: 12rem;
    height: 12rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }

  .img-corede {
    /* margin-bottom: 3rem; */
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .logo-about {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

}

/* LAPTOP */

@media (max-width: 1024px) {
  .divisor {
    /* margin-top: 1rem; */
    width: 1px;
    height: 14rem;
    border: 0;
    border-left: 1px solid #273273;
  }

  .bg-image-h{
    background-image: url(../images/top-page/img-top-page-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 33rem;
}  

 /*Pagina Manual*/

  .rule1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule1 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule2 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule3 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    gap: 3rem;
  }

  .img-rule4 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: justify;
  }

 /*Pagina Sobre*/

  .logo-if {
    margin-bottom: 1rem;
    width: 12rem;
    height: 12rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }

  .logo-about {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

  .img-corede {
    /* margin-bottom: 3rem; */
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }
}

@media (max-width: 968px) {
  /* MUNICIPIOS */

  section.container-cities {
    min-height: 95vh;
  }
  section.container-cities .container-inside {
    min-width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.3rem;
  }
  section.container-cities .container-inside .container-city {
    flex: 0.1;
    height: 55rem;
    transition: 0.5s ease;
    background-size: cover;
    position: relative;
  }
  section.container-cities .container-inside .container-city .content {
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
  }
  section.container-cities .container-inside .container-city .content .city-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    gap: 0.6rem;
  }
  section.container-cities .container-inside .container-city .content .city-name > span {
    color: var(--neutral-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: lighter;
    transition: 0.3s ease;
  }
  section.container-cities .container-inside .container-city .content .city-name-mobile {
    display: none;
  }
  section.container-cities .container-inside .container-city .content > a {
    position: absolute;
    bottom: 2%;
  }
  section.container-cities .container-inside .container-city .content img .img-logo {
    width: 3.5rem;
    height: 3.5rem;
  }
  section.container-cities .container-inside .container-city .content svg {
    width: 3rem;
    height: 3rem;
  }
  section.container-cities .container-inside .container-city .content-img,
  section.container-cities .container-inside .container-city .content-infos {
    display: none;
  }

  /* FOOTER */
/* 
  .footer-mobile {
    display: none;
  }
  .footer-desktop {
    max-width: 100vw;
    height: auto;
    background-color: var(--secundary-color);
    color: white;
    font-size: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas: "box01" "box02" "box03";
  }
  .footer-desktop .box {
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-desktop .box .lineBox01 {
    border-bottom: 2px solid white;
  }
  .footer-desktop .box .lineBox03 {
    border-top: 2px solid white;
  }
  .footer-desktop .box .content {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
  .footer-desktop .box .content > span {
    font-size: 1.6rem;
    text-align: justify;
  }
  .footer-desktop .box .content > img {
    padding: 1rem;
  }
  .footer-desktop .box .content > ul {
    display: flex;
    gap: 1.6rem;
  }
  .footer-desktop .box .content ul li {
    list-style: none;
    transition: 0.5s;
  }
  .footer-desktop .box .content ul li svg {
    width: 4.5rem;
    height: 4.5rem;
  }
  .footer-desktop .box01 {
    grid-area: box01;
  }
  .footer-desktop .box02 {
    grid-area: box02;
  }
  .footer-desktop .box03 {
    grid-area: box03;
  } */

  .img-rule1 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .bg-image-h{
    background-image: url(../images/top-page/img-top-page-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 26rem;
  }  

  /* FOOTER */

  
}

/* TALBLET */

@media (max-width: 860px) {
  .divisor {
    display: none;
  }

  .bg-image-h{
    background-image: url(../images/top-page/img-top-page-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 24rem;
  }  

 /*Pagina Manual*/

  .rule1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule1 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: center;
  }

  .divisor-mobile {
    margin-bottom: 2rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #273273;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule2 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: center;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule3 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: center;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule4 {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 3.5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 500px;
    text-align: center;
  }

  /* Parte sobre */

  .logo-about {
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 12rem;
    height: 12rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .logo-if {
    margin-bottom: 1rem;
    width: 14rem;
    height: 14rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
  
  /* FOOTER */

  
}


@media (max-width : 780px) {
  .bg-image-h{
    background-image: url(../images/top-page/img-top-page-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 21rem;
  }
/*   
  .footer-desktop {
    grid-template-rows: initial;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: "box01 box02 box03";
  }
  .footer-desktop .box .lineBox01 {
    border-right: 2px solid white;
    border-bottom: initial;
  }
  .footer-desktop .box .lineBox03 {
    border-left: 2px solid white;
    border-top: initial;
  }
  .footer-desktop .box .content {
    width: 100%;
    height: 80%;
    padding-inline: 3.2rem;
  } */
}
/* MOBILE - L */

@media (max-width: 575px) {
  
  /* MUNICIPIOS */
  section.container-cities .container-inside .container-city .content .city-name {
    display: none;
  }
  section.container-cities .container-inside .container-city .content .city-name-mobile span {
    color: var(--text-white-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: var(--text-font-size);
  }

  .divisor {
    display: none;
  }

  .bg-image-h{
    background-image: url(../images/top-page/img-top-page-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15rem;
  }  

 /*Pagina Manual*/

  .divisor-mobile {
    margin-bottom: 2rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #273273;
  }

  .rule1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule1 {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule2 {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule3 {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule4 {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 3.5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

 /*Pagina Manual*/

  .logo-about {
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }

  .logo-if {
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}

/* MOBILE - S */

@media (max-width: 375px) {
  .divisor {
    display: none;
  }
  .bg-image-h{
    background-image: url(../images/top-page/img-top-page-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 14rem;
}  
   /*Pagina Manual*/

  .divisor-mobile {
    margin-bottom: 2rem;
    width: 90%;
    border: 0;
    border-top: 1px solid #273273;
  }

  .rule1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule1 {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/security-svg/trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
    /* padding-block: 1rem; */
  }

  .text-rule1 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule2 {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/security-svg/equipment.svg);
    background-position: center;
    border-radius: 10rem;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule2 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule3 {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/security-svg/time.svg);
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-size: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule3 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /***********************************/

  .rule4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }

  .img-rule4 {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/security-svg/weather.svg);
    background-size: 3.5rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-block: 1rem; */
  }

  .text-rule4 {
    margin-block: 1rem;
    font-size: medium;
    max-width: 300px;
    text-align: center;
  }

  /* Parte Sobre */
  
  .logo-about {
    width: 8rem;
    height: 8rem;
    background-image: url(../images/content-about/icon-about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 10rem;
  }

  .img-corede {
    margin-bottom: 3rem;
    width: 9rem;
    height: 9rem;
    background-image: url(../images/content-about/corede2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 3.5rem; */
  }
  .logo-if {
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
    background-image: url(../images/content-about/if.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10rem;
  }
}
