{% load partials %}
{% load static %}

{% partialdef banner-cities %}
    <h3 class="mb-5 fw-normal text-white" id="cities" style="padding-top: 5rem;">Municipios da Região Carbonífera</h3>
      <div class="row g-2 banner-container">
          {% for city in homes %}
          {% if city.city.active %}
            <a href="{% url 'cities:city_detail' pk=city.city.id %}" class="cities-container d-flex col-xl h-banner align-items-center justify-content-center nav-link py-3" style="
              background-image: url('{{ city.city.banner_image.url }}');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;">
            {% else %}
              <a class="cities-container d-flex col-xl h-banner align-items-center justify-content-center nav-link py-3" type="button" style="
              background-image: url('{{ city.city.banner_image.url }}');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              " data-bs-toggle="modal" data-bs-target="#emBreve" >
            {% endif %}
              <!-- Responsividade para Desktop -->
              <div class="banner-item-container">
                <div class="middle-content">
                  {% for letter in city.city.name %}
                    <span class="d-none d-xl-block city-name-banner">{{ letter }}</span>
                  {% endfor %}
                </div>
              </div>
            </a>
        {% endfor %}
      </div>
{% endpartialdef banner-cities %}


{% partialdef events %}

    <div class="d-none d-sm-block d-md-none d-lg-block">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for event in events %}
        <div class="col">
          <div class="card">
            <div class="card-img-top border border-0 rounded">
              {% if event.banner_image %}
                <div style="background-image: url('/media/{{ event.banner_image }}'); height: 5rem; filter: brightness(50%);"
                class="d-flex bg-card-event object-fit-cover w-100 justify-content-center align-items-center border border-0 rounded-top">
                </div>
              {% else %}
                <div style="height: 5rem; filter: brightness(50%);"
                class="d-flex bg-card-event object-fit-cover w-100 justify-content-center align-items-center border border-0 rounded-top">
                </div>
              {% endif %}
              <span class="text-white fs-2 position-absolute adjust-positon-event translate-middle" style="top: 10% !important;">{{ event.location }}</span>
            </div>
            <div class="card-body">
              <h5 class="card-title topic-color fw-bolder">{{ event.name }}</h5>
              <div class="row g-2">
                <div class="col-sm-6 col-md-6 col-lg-6 text-start mt-3">
                  <!-- <img src="{%static 'images/images-cities/image-rota.jpeg'%}" class="img-fluid object-fit-cover border border-1 border-dark map-event"> -->
                  <img src="/media/{{ event.banner_image }}" class="img-fluid object-fit-cover border border-1 border-dark map-event rounded-2">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-start">
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                    Situação:
                  </span> {{ event.status }}
                  </p>
                  <p class="mt-3 mb-1 fs-cric">
                    <span class="fw-bolder">
                      Data:
                    </span>
                    {% if event.secondary_date %}
                      {{ event.secondary_date.day }} e
                    {% endif %}
                    {{ event.date }}
                  </p>
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                    Quantidade de Trajetos:
                    </span> {{ event.number_of_routes }}
                  </p>
                  <p class="mt-4 mb-1 fs-cric">
                    <span class="fw-bolder">
                      Participantes
                    </span> {{ event.participants }}
                  </p>
                </div>
                <a href="{% url 'events:event' pk=event.id %}" type="button" class="btn btn-outline-dark w-100 mt-3 btn-secondary-cric fs-6">Ir para a página</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endpartialdef events %}

